<section id="main-user">
  <!-- TC Logo -->
  <div class="container user-logo-tc-block"></div>

  <!-- Form block -->
  <div class="container reset-pass-block">
    <div class="col-lg-8 col-md-6 col-sm-4 col-xs-2"></div>

    <!-- Content start -->
    <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10 reset-pass-content-block">

      <!-- Icon register -->
      <div class="reset-pass-head-icon-block">
        <p><i class="fa fa-lock fa-3x reset-pass-head-icon" aria-hidden="true"></i></p>
        <!-- <p><i class="fa fa-plus fa-2x reset-pass-head-icon-2" aria-hidden="true" style="box-shadow: #fff 0px 0px 2px; color:white; padding: 5px 7px; border-radius: 50px;z-index:1;"></i></p> -->
      </div>

      <!-- Header register -->
      <div class="reset-pass-head-text">
        <!-- <h3><b>register</b></h3> -->
        <h3><b>Reset password</b></h3>
      </div>

      <!-- Email -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reset-pass-field-block">
        <input type="text" class="form-control" value="{{data.username}}" disabled>
      </div>

      <!-- Reset code -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reset-pass-field-block">
        <input type="text" class="form-control" placeholder="reset code" [(ngModel)]="data.resetCode">
      </div>

      <!-- New password -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reset-pass-field-block">
        <input type="password" class="form-control" placeholder="new password" [(ngModel)]="data.password">
      </div>

      <!-- Confirm password -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reset-pass-field-block">
        <input type="password" class="form-control" placeholder="confirm password" [(ngModel)]="data.confirmPassword">
        <!-- check password mismatch -->
        <p style="color: red; font-size: 12px;" *ngIf="data.isMismatch==true">password mismatch.</p>
      </div>

      <!-- Send code again -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reset-pass-field-block">
        <p class="reset-pass-send-code">
          Not received the reset code. 
          <!-- <a href="" (click)="sendResetCodeAgain()">send again</a> -->
          <span class="reset-pass-link" (click)="sendResetCodeAgain()">send again</span>
        </p>
      </div>

      <!-- Button register -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reset-pass-btn-block">
        <button type="submit" mat-raised-button class="reset-pass-btn" (click)="resetPassword()">
          <span><b>Submit</b></span>
        </button>
      </div>

      <!-- Back to Login -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 register-btn-block">
        <p class="reset-pass-back-login">
          <a href="/#/user/login">Back to Login</a>
        </p>
      </div>

    </div>
    <!-- Content end -->

    <!-- <div class="col-lg-3 col-md-2 col-sm-10"></div> -->
  </div>
</section>