<section id="intro" class="section intro wow fadeInUp">
  <div class="intro-text">
    <div class="col-md-8 col-md-offset-2 text-center">
        <blockquote>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget leo nunc, nec tempus mi? Curabitur id nisl mi, ut vulputate urna. Quisque porta facilisis tortor, vitae bibendum velit fringilla vitae! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget leo nunc, nec tempus mi? Curabitur id nisl mi, ut vulputate urna. Quisque porta facilisis tortor, vitae bibendum velit fringilla vitae!
            <cite>Somebody famous</cite>
            </blockquote>
    </div>
  </div>
</section>