<!-- Check permission -->
<app-permission-manager></app-permission-manager>

<!-- Menu bar -->
<app-menu-manager></app-menu-manager>

<!-- Content -->
<section id="main-content" class="panel-block-1">
  <section class="wrapper">
    <!-- Graf -->
    <div class="container">
      <h3 class="dashboard-header center">Booked Table</h3>
      <!-- <hr style="width: 100px; text-align: center; border: #651e1e 1px solid; margin-bottom: 30px;"> -->
      <div style="margin:auto; margin-top:30px;width:100% !important;">
      
        <div style="overflow-x:auto;">
          <table class="table table-bordered table-hover">
            <!-- Table Header -->
            <tr class="font-table-13px">
              <th class="text-center bg-damask text-light">No.</th>
              <th class="text-center bg-damask text-light">Invoice</th>
              <th class="text-center bg-damask text-light">Tour</th>
              <th class="text-center bg-damask text-light">Privacy</th>
              <th class="text-center bg-damask text-light">Pax</th>
              <th class="text-center bg-damask text-light">Guest</th>
              <th class="text-center bg-damask text-light">Hotel</th>
              <th class="text-center bg-damask text-light">Book date</th>
              <th class="text-center bg-damask text-light">Travel date</th>
            </tr>
            <!-- Table Body -->
            <tr *ngFor="let booked of getBooked | slice:pointStart:pointEnd; let i = index;" [class.table-info]="highlightId==booked.transactionId" class="font-table-12px">
              <td class="text-center">{{i+1+(perPage*(activePage-1))}}</td>
              <td class="text-center">{{booked.invoiceId}}</td>
              <td title="{{booked.tourFullname}}">{{booked.tourName}}</td>
              <td class="text-center">{{booked.tourPrivacy}}</td>
              <td class="text-center">{{booked.tourPax}}</td>
              <td>{{booked.guestName}}</td>
              <td>{{booked.hotel}}</td>
              <td class="text-center">{{booked.bookDate}}</td>
              <td class="text-center">{{booked.tourTravel}}</td>
            </tr>
          </table>
        </div>

        <!-- Page -->
        <div class="text-center">
          <nav aria-label="Page navigation">
            <p style="margin:0 !important; color:#3e3e3e;"><small>Page : {{activePage}} of {{totalPage}}</small></p>
            <ul class="pagination text-center">
              <li class="page-item">
                <a class="page-link" [routerLink]="['/user/manager/booked/table']" [queryParams]="{page: 1}"> First</a>
              </li>
              <li class="page-item disabled" [class.disabled]="activePage==1">
                <a class="page-link" [routerLink]="['/user/manager/booked/table']" [queryParams]="{page: prevPage}"> Previous</a>
              </li>
              <li class="page-item" *ngFor="let i of iPage" [class.active]="activePage==i">
                <a class="page-link" [routerLink]="['/user/manager/booked/table']" [queryParams]="{page: i}">{{i}}</a>
              </li>
              <li class="page-item" [class.disabled]="activePage==totalPage">
                <a class="page-link" [routerLink]="['/user/manager/booked/table']" [queryParams]="{page: nextPage}"> Next</a>
              </li>
              <li class="page-item">
                <a class="page-link" [routerLink]="['/user/manager/booked/table']" [queryParams]="{page: totalPage}"> Last</a>
              </li>
              <!-- <li class="page-item">
                <span class="block-search-page">
                  Page : <input matInput #pageInput type="number" (input)="changePage(pageInput.value)" min="1" max="{{totalPage}}" value="{{activePage}}" class="input-search-page"> of {{totalPage}}
                </span>
              </li> -->
            </ul>
          </nav>
        </div>

      </div>
    </div>
  </section>
</section>