    <!-- adventure-content -->
  <section class="container recommend-trip-block">
    <div class="row">
      <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> -->
        <h2 class="section-head">
          RECOMMENDED TRIP
          <hr class="section-head-hr">
        </h2>
      <!-- </div> -->
      <div class="col-xs-12 col-sm-7 col-md-7">
          <!-- <article> -->
              <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo orta felis euismod semper.Maecenas
                  sed diam eget risus varius blandit sit amet non magna. Morbi leo orta felis euismod semper.</p>
                  <p class="recommend-link">
                    <i class="fa fa-play" aria-hidden="true"> </i>
                    <a routerLink="/fantastic">Doi Suthep Temple & Hmong Hill Tribe Village</a>
                  </p>
                  <p class="recommend-link">
                    <i class="fa fa-play" aria-hidden="true"> </i>
                    <a routerLink="/fantastic">Chiang Rai Day Trip</a>
                  </p>
                  <p class="recommend-link">
                    <i class="fa fa-play" aria-hidden="true"> </i>
                    <a routerLink="/fantastic">Chiang Mai Night Safari (Evening Trip)</a>
                  </p>
                  <p class="recommend-link">
                    <i class="fa fa-play" aria-hidden="true"> </i>
                    <a routerLink="/fantastic">Elephant Conservation Center @ Lampang</a>
                  </p>
                  <p class="recommend-link">
                    <i class="fa fa-play" aria-hidden="true"> </i>
                    <a routerLink="/fantastic">Trekking Doi Suthep Area</a>
                  </p>
                  <p class="recommend-link">
                    <i class="fa fa-play" aria-hidden="true"> </i>
                    <a routerLink="/fantastic">Breath of Nature (Afternoon)</a>
                  </p>
                  <p class="recommend-link">
                    <i class="fa fa-play" aria-hidden="true"> </i>
                    <a routerLink="/fantastic">Elephant Trek to Long Neck and Tiger Kingdom</a>
                  </p>

      </div>
      <div class="col-xs-12 col-sm-5 col-md-5">
          <div class="slider-container ">
                  <div class="adventures-slider">
                          <div class="thumbnail shadow">
                              <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" src="assets/images/recommend/tc-recommend-1.jpg" data-holder-rendered="true" />
                              <p class="slider-text">
                                  Nostrud labore sit ullamco dolor elit quis ad ullamco veniam non. Esse veniam deserunt esse pariatur. Nisi voluptate mollit proident consequat ut ipsum eiusmod mollit minim.
                              </p>
                          </div>
                          <div class="thumbnail shadow">                                        
                                  <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" src="assets/images/recommend/tc-recommend-2.jpg" data-holder-rendered="true" />
                                  <p class="slider-text">
                                      Nostrud labore sit ullamco dolor elit quis ad ullamco veniam non. Esse veniam deserunt esse pariatur. Nisi voluptate mollit proident consequat ut ipsum eiusmod mollit minim.
                                  </p>
                          </div>
                          <div class="thumbnail shadow">
                              <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" src="assets/images/recommend/tc-recommend-3.jpg" data-holder-rendered="true" />
                              <p class="slider-text">
                                  Nostrud labore sit ullamco dolor elit quis ad ullamco veniam non. Esse veniam deserunt esse pariatur. Nisi voluptate mollit proident consequat ut ipsum eiusmod mollit minim.
                              </p>
                          </div>
                          <div class="thumbnail shadow">
                              <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" src="assets/images/recommend/tc-recommend-4.jpg" data-holder-rendered="true" />
                              <p class="slider-text">
                                  Nostrud labore sit ullamco dolor elit quis ad ullamco veniam non. Esse veniam deserunt esse pariatur. Nisi voluptate mollit proident consequat ut ipsum eiusmod mollit minim.
                              </p>
                          </div>
                          <div class="thumbnail shadow">
                              <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" src="assets/images/recommend/tc-recommend-5.jpg" data-holder-rendered="true" />
                              <p class="slider-text">
                                  Nostrud labore sit ullamco dolor elit quis ad ullamco veniam non. Esse veniam deserunt esse pariatur. Nisi voluptate mollit proident consequat ut ipsum eiusmod mollit minim.
                              </p>
                          </div>
                          <div class="thumbnail shadow">
                              <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" src="assets/images/recommend/tc-recommend-6.jpg" data-holder-rendered="true" />
                              <p class="slider-text">
                                  Nostrud labore sit ullamco dolor elit quis ad ullamco veniam non. Esse veniam deserunt esse pariatur. Nisi voluptate mollit proident consequat ut ipsum eiusmod mollit minim.
                              </p>
                          </div>
                          <div class="thumbnail shadow">
                              <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" src="assets/images/recommend/tc-recommend-7.jpg" data-holder-rendered="true" />
                              <p class="slider-text">
                                  Nostrud labore sit ullamco dolor elit quis ad ullamco veniam non. Esse veniam deserunt esse pariatur. Nisi voluptate mollit proident consequat ut ipsum eiusmod mollit minim.
                              </p>
                          </div>
                      </div>                            
          </div>                     
      </div>     
    </div>          
  </section> 
  <!-- adventure-content -->