    
     <!--slider pan -->
     <div class="slider-pan">
        <header role="title-page" class="text-center">
            <h4>Customer Voice</h4>
        </header>

        <!-- carousel -->
        <div id="owl-demo" class="owl-carousel text-center" role="slider">
            <section class="item">
                <article>
                    Morbi leo orta felis euismod semper.Maecenas sed diam eget risus varius blandit sit <br/> amet
                    non magna felis euismod leo orta felis semper.
                </article>
                <header>
                    <h5>Antony Casalena</h5>
                    <h6>Vice president, IQTeam</h6>
                </header>
            </section>

            <section class="item">
                <article>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis tortor nec diam dapibus<br>efficitur
                    in quis sem. Morbi tristique purus at vestibulum malesuada.
                </article>
                <header>
                    <h5>Brain Rice</h5>
                    <h6>VP, Lexix Pvt Ltd</h6>
                </header>
            </section>

            <section class="item">
                <article>
                    Morbi leo orta felis euismod semper.Maecenas sed diam eget risus varius blandit sit <br/> amet
                    non magna felis euismod leo orta felis semper.
                </article>

                <header>
                    <h5>Antony Casalena</h5>
                    <h6>Vice president, IQTeam</h6>
                </header>
            </section>

            <section class="item">
                <article>
                    Morbi leo orta felis euismod semper.Maecenas sed diam eget risus varius blandit sit <br/> amet
                    non magna felis euismod leo orta felis semper.
                </article>

                <header>
                    <h5>Antony Casalena</h5>
                    <h6>Vice president, IQTeam</h6>
                </header>

            </section>
        </div>
        <!-- carousel -->
    </div>
    <!--slider pan -->