<section id="main-user">
  <!-- TC Logo -->
  <div class="container user-logo-tc-block"></div>
  
  <!-- Form block -->
  <div class="container register-confirm-block">
    <div class="col-lg-8 col-md-6 col-sm-4 col-xs-2"></div>

    <!-- Content start -->
    <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10 register-confirm-content-block">
      
      <!-- Icon register -->
      <div class="register-confirm-head-icon-block">
        <p><i class="fa fa-unlock-alt fa-3x register-confirm-head-icon" aria-hidden="true"></i></p>
        <!-- <p><i class="fa fa-plus fa-2x register-confirm-head-icon-2" aria-hidden="true" style="box-shadow: #fff 0px 0px 2px; color:white; padding: 5px 7px; border-radius: 50px;z-index:1;"></i></p> -->
      </div>
      
      <!-- Header register -->
      <div class="register-confirm-head-text">
        <!-- <h3><b>register</b></h3> -->
        <h3><b>Confirm register</b></h3>
      </div>
      
      <!-- Email -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 register-confirm-field-block" >
        <input type="text" class="form-control" value="{{data.user}}" disabled>
      </div>
      
      <!-- Confirm code -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 register-confirm-field-block">
        <input type="text" class="form-control" placeholder="confirm code" [(ngModel)]="data.code">
      </div>

      <!-- Send code again -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 register-confirm-field-block">
        <p class="register-confirm-send-code">
          Not received the code. 
          <!-- <a href="/#">send again</a> -->
          <span class="register-confirm-link" (click)="sendConfirmCodeAgain()">send again</span>
        </p>
      </div>

      <!-- Button register -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 register-confirm-btn-block">
        <button type="submit" mat-raised-button class="register-confirm-btn" (click)="confirmRegister()">
          <span><b>Submit</b></span>
        </button>
      </div>

      <!-- Back to Login -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 register-btn-block">
        <p class="register-confirm-back-login">
          <a href="/#/user/login">Back to Login</a>
        </p>
      </div>

    </div>
    <!-- Content end -->

    <!-- <div class="col-lg-3 col-md-2 col-sm-10"></div> -->
  </div>
</section>