<div id="option" class="wow fadeInUp">
  <div class="container">
      <div class="row">
          <div class="col-md-12 heading-option">
              <h3>Information options</h3></div>
      </div>
      <div class="row">
          <div class="col-md-4 col-sm-6 services text-center hvr-underline-reveal wow fadeInUp">
              <div><i class="fa fa-bullhorn"></i>
                  <div class="services-content">
                      <h5>Profession Guid</h5>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec nulla non metus.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6 services text-center hvr-underline-reveal wow fadeInUp">
              <div><i class="fa fa-bus"></i>
                  <div class="services-content">
                      <h5>VIP Van</h5>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec nulla non metus.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6 services text-center hvr-underline-reveal wow fadeInUp">
              <div><i class="fa fa-street-view"></i>
                  <div class="services-content">
                      <h5>Scenic spots</h5>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec nulla non metus.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6 services text-center hvr-underline-reveal wow fadeInUp">
              <div><i class="glyphicon glyphicon-briefcase"></i>
                  <div class="services-content">
                      <h5>Branding</h5>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec nulla non metus.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6 services text-center hvr-underline-reveal wow fadeInUp">
              <div><i class="glyphicon glyphicon-cutlery"></i>
                  <div class="services-content">
                      <h5>Digital marketing</h5>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec nulla non metus.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6 services text-center hvr-underline-reveal wow fadeInUp">
              <div><i class="glyphicon glyphicon-heart-empty"></i>
                  <div class="services-content">
                      <h5>Promotion material</h5>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec nulla non metus.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>