<!-- Check permission -->
<app-permission-manager></app-permission-manager>

<!-- Menu bar -->
<app-menu-manager></app-menu-manager>

<!-- Content -->
<section id="main-content" class="panel-block-1">
  <section class="wrapper">
    <!-- Graf -->
    <div class="container">
      <h3 class="dashboard-header">User request</h3>
      <div style="margin:auto; margin-top:30px;width:100% !important;">
        <div style="overflow-x:auto;">
          <table class="table table-bordered table-hover">

            <!-- Table Header -->
            <tr class="font-table-13px">
              <th class="text-center bg-damask text-light text-middle">No</th>
              <th class="text-center bg-damask text-light text-middle">Username</th>
              <th class="text-center bg-damask text-light text-middle">Fullname</th>
              <th class="text-center bg-damask text-light text-middle">Request</th>
              <th class="text-center bg-damask text-light text-middle">Date</th>
              <th class="text-center bg-dark-gray text-light text-middle">
                <span>Profile</span>
              </th>
              <th class="text-center bg-dark-gray text-light text-middle">
                <span>Status</span>
              </th>
            </tr>

            <!-- Table Body -->
            <tr *ngFor="let request of getRequest.data | slice:pointStart:pointEnd; let i = index;" [class.table-info]="highlightId==request.id" class="font-table-12px">
              <td class="text-center text-middle">{{i+1+(perPage*(activePage-1))}}</td>
              <td class="text-center text-middle">{{request.username}}</td>
              <td class="text-center text-middle">{{request.fullname}}</td>
              <td class="text-center text-middle">{{request.requestTypeEN}}</td>
              <td class="text-center text-middle">{{request.requestDate}}</td>
              <td class="text-center text-middle">
                <p style="color: #006eff; cursor: pointer; margin: 0;" data-toggle="modal" data-target="#dialogProfile" (click)="openDialogProfile(request.token)">More</p>
              </td>
              <td class="text-center text-middle">
                <p *ngIf="request.statusId=='1'" style="color:#ffa600; cursor: pointer; margin: 0;" data-toggle="modal" data-target="#dialogStatus" (click)="openDialogStatus(request)">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 16px;"></i> 
                  <span>{{request.requestStatusEN}}</span>
                </p>
                <p *ngIf="request.statusId=='2'" style="color: #008b00; cursor: pointer; margin: 0;" data-toggle="modal" data-target="#dialogStatus" (click)="openDialogStatus(request)">
                  <i class="fa fa-check" aria-hidden="true" style="font-size: 16px;"></i> 
                  {{request.requestStatusEN}}
                </p>
                <p *ngIf="request.statusId=='3'" style="color: #ff0000; cursor: pointer; margin: 0;" data-toggle="modal" data-target="#dialogStatus" (click)="openDialogStatus(request)">
                  <i class="fa fa-times" aria-hidden="true" style="font-size: 16px;"></i> 
                  {{request.requestStatusEN}}
                </p>
              </td>
            </tr>
          </table>
        </div>

        <!-- Modal profile -->
        <div id="dialogProfile" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <h4 style="text-align: center; margin: 35px 0;"><b>User</b> &nbsp;:&nbsp; {{profileData.fullname}}</h4>
              <div class="modal-body">
                <div style="margin: auto; min-height: 70px; padding-top: 0;">
                  <!-- personal -->
                  <p style="font-size: 16px;"><u>Personal infomation</u></p>
                  <table class="modal-table">
                    <tr>
                      <td class="text-top" style="width: 120px;">Fullname</td>
                      <td class="text-top">: {{profileData.fullname}}</td>
                    </tr>
                    <tr>
                      <td class="text-top" style="width: 120px;">Birth</td>
                      <td class="text-top">: {{profileData.birth}}</td>
                    </tr>
                    <tr>
                      <td class="text-top" style="width: 120px;">Tel</td>
                      <td class="text-top">: {{profileData.email}}</td>
                    </tr>
                    <tr>
                      <td class="text-top" style="width: 120px;">Address</td>
                      <td class="text-top">: {{profileData.address}}</td>
                    </tr>
                    <tr>
                      <td class="text-top" style="width: 120px;">ID number</td>
                      <td class="text-top">: {{profileData.idNumber}}</td>
                    </tr>
                  </table>

                  <!-- bank -->
                  <p style="font-size: 16px;"><u>Bank infomation</u></p>
                  <table class="modal-table">
                    <tr>
                      <td class="text-top" style="width: 120px;">Account name</td>
                      <td class="text-top">: {{bankData.accountName}}</td>
                    </tr>
                    <tr>
                      <td class="text-top" style="width: 120px;">Account no.</td>
                      <td class="text-top">: {{bankData.accountNo}}</td>
                    </tr>
                    <tr>
                      <td class="text-top" style="width: 120px;">Bank</td>
                      <td class="text-top">: {{bankData.bank}}</td>
                    </tr>
                  </table>

                  <!-- advertise -->
                  <p style="font-size: 16px;"><u>Advertisement</u></p>
                  <table class="modal-table">
                    <tr>
                      <td class="text-top" style="width: 120px;">Url</td>
                      <td class="text-top">: 
                        <a href="{{profileData.url1}}" target="_blank">Link ads 1</a>
                      </td>
                    </tr>
                    <tr *ngIf="profileData.url2!==''">
                      <td class="text-top" style="width: 120px;"></td>
                      <td class="text-top">: 
                        <a href="{{profileData.url2}}" target="_blank">Link ads 2</a>
                      </td>
                    </tr>
                    <tr *ngIf="profileData.url3!==''">
                      <td class="text-top" style="width: 120px;"></td>
                      <td class="text-top">: 
                        <a href="{{profileData.url3}}" target="_blank">Link ads 3</a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="modal-footer">
                <div>
                  <button type="button" class="btn btn-default" data-dismiss="modal" style="min-width: 90px !important;">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal status -->
        <div id="dialogStatus" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <h4 style="text-align: center; margin: 35px 0;"><b>User</b> &nbsp;:&nbsp; {{profileData.fullname}}</h4>
              <div class="modal-body">
                <div style="text-align: center; margin: auto; min-height: 70px; padding-top: 0;">
                  <select class="form-control" [(ngModel)]="userRequestStatus" style="height: 35px;">
                    <option *ngFor="let status of statusData" [value]="status.id" >{{status.statusEN}}</option>
                  </select>
                </div>
              </div>
              <div class="modal-footer">
                <div>
                  <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="changeStatus()" style="min-width: 90px !important;">Change</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal" style="min-width: 90px !important;">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Page -->
        <div class="text-center">
          <nav aria-label="Page navigation">
            <p style="margin:0 !important; color:#3e3e3e;"><small>Page : {{activePage}} of {{totalPage}}</small></p>
            <ul class="pagination text-center">
              <li class="page-item">
                <a class="page-link" [routerLink]="['/user/admin/user-request']" [queryParams]="{page: 1}"> First</a>
              </li>
              <li class="page-item disabled" [class.disabled]="activePage==1">
                <a class="page-link" [routerLink]="['/user/admin/user-request']" [queryParams]="{page: prevPage}"> Previous</a>
              </li>
              <li class="page-item" *ngFor="let i of iPage" [class.active]="activePage==i">
                <a class="page-link" [routerLink]="['/user/admin/user-request']" [queryParams]="{page: i}">{{i}}</a>
              </li>
              <li class="page-item" [class.disabled]="activePage==totalPage">
                <a class="page-link" [routerLink]="['/user/admin/user-request']" [queryParams]="{page: nextPage}"> Next</a>
              </li>
              <li class="page-item">
                <a class="page-link" [routerLink]="['/user/admin/user-request']" [queryParams]="{page: totalPage}"> Last</a>
              </li>
            </ul>
          </nav>
        </div>

      </div>
    </div>
  </section>
</section>