<div class="container">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <p><b><u class="text-danger">IMPORTANT NOTE</u></b></p>
    <p><b>* Optional tours or side trips are not allowed for all <span class="text-danger">T</span>ouring <span class="text-danger">C</span>enter Join Trip (SIC)</b></p>
    <p><b>* Cancel <u>Afternoon and Evening</u> Program less than 3 hours prior the departure, 100% cancellation charge</b></p>
    <p><b>* Cancel <u>Full Day and Morning</u> Program less than 12 hours prior the departure, 100% cancellation charge</b></p>
    <p><b>* Last Minute Cancelled and No Shows, 100% of total price will be applied</b></p>
    <p><b>* Unused features are non-refundable</b></p>
  </div>
</div>