<!-- Check permission -->
<app-permission-manager></app-permission-manager>

<!-- Menu bar -->
<app-menu-manager></app-menu-manager>

<!-- Content -->
<section id="main-content" class="panel-block-1">
  <section class="wrapper">
    <!-- Graf -->
    <div class="container">
      <h3 class="dashboard-header">Summary<br><small>Booked</small></h3>
      <!-- <hr style="width: 100px; text-align: center; border: #651e1e 1px solid; margin-bottom: 30px;"> -->
      <div style="margin:auto; margin-top:30px;width:100% !important;">
      
      </div>
    </div>
  </section>
</section>