.block-header{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 35px;
    padding: 15px;
    font-weight: 600 !important;
    width: 100%;
    margin: auto;
    font-size: 26px;
}
.sub-header{
    font-weight: 100;
}
.block-content{
    margin: auto;
    margin-top: 25px;
    width: 50% !important;
    padding: 25px 0;
    // background: #ffc4c4;
    border-radius: 5px;
}
.content-main-block{
    margin: auto;
    margin-top: 30px;
    width: 80% !important;
}
.content-block{
    margin-bottom: 20px;
}
.content-block mat-form-field{
    width: 100% !important;
}
.content-header{
    font-weight: 600;
}
.text-content{
    font-size: 14px !important;
}
.panel-block-1{
    padding-top: 40px;
}
.link-back{
    text-align: left;
}
.link-next{
    text-align: right;
}
.link-page{
    color: blue;
    cursor: pointer;
}
.link-page:hover{
    color: #50009b;
    cursor: pointer;
}

// Responsive
@media print{
    .no-print{
        display: none;
    }
}
@media (min-width : 280px){
    .content-main-block{
        width: 90% !important;
    }
}
@media (min-width : 400px){
    .content-main-block{
        width: 80% !important;
    }
}
@media (min-width : 768px){
    .content-main-block{
        width: 70% !important;
    }
}
@media (min-width : 991px){
    .content-main-block{
        width: 60% !important;
    }
}

// bootstrap
.form-control{
    height: 35px;
}
