<!-- Head booking form -->
<div class="container">
  <!-- <div class="row"> -->
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h3><b>TC - Day Trip Booking Form</b></h3>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h4 class="bf-run-book">Booking No. : {{_getBookingForm.invoices.bookingNo}}</h4>
      <p class="bf-ref-book" *ngIf="_getBookingForm.invoices.refBookingNo==''">ref. -</p>
      <p class="bf-ref-book" *ngIf="_getBookingForm.invoices.refBookingNo!=''">ref. {{_getBookingForm.invoices.refBookingNo}}</p>
    </div>
  <!-- </div> -->
</div>
<!-- End Head booking form -->
<br>
<!-- Content -->
<div class="container bf-content">
  <!-- <div class="row"> -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <table class="bf-table">
        <!-- Row 1 -->
        <tr>
          <th>Tour</th>
          <td>: {{_getBookingForm.tours.name}}</td>
          <th>Time</th>
          <td>: {{_getBookingForm.tours.type}}</td>
        </tr>
        <!-- Row 2 -->
        <tr>
          <th>Travel Date</th>
          <td>: {{_getBookingForm.tours.date}}</td>
          <th>Privacy</th>
          <td>: {{_getBookingForm.tours.privacy}}</td>
        </tr>
        <!-- Row 3 -->
        <tr>
          <th>Hotel</th>
          <td>: {{_getBookingForm.hotel.name}}</td>
          <th>Room no.</th>
          <td>: {{_getBookingForm.hotel.room}}</td>
        </tr>
        <!-- Row 4 -->
        <tr>
          <th>No. of Pax</th>
          <td colspan="3">: {{_getBookingForm.tours.pax}} pax</td>
        </tr>
        <!-- Row 5 -->
        <tr *ngFor="let guest of _getBookingForm.guest; let i = index">
          <th *ngIf="i<1">Guest Name</th>
          <th *ngIf="i>0"></th>
          <td colspan="3">{{i+1}}) {{guest.name}} <small>({{guest.ages}})</small></td>
        </tr>
        
        <!-- Row 8 -->
        <tr>
          <th>Tour price</th>
          <td>: {{_getBookingForm.paymentMode}}</td>
          <th>
            <span *ngIf="_getBookingForm.tours.discountPrice!='0'">Discount</span>
            <!-- <span *ngIf="_getBookingForm.tours.discountPrice=='0'"></span> -->
          </th>
          <td>
            <span *ngIf="_getBookingForm.tours.discountPrice!='0'">: {{_getBookingForm.tours.discount}}</span>
            <span *ngIf="_getBookingForm.tours.discountPrice=='0'">: 0%</span>
          </td>
        </tr>
        <!-- Row 9 -->
        <tr>
          <th>Payment Collect from</th>
          <td>: {{_getBookingForm.paymentCollect}}</td>
          <td colspan="2">
            <span *ngIf="_getBookingForm.isServiceCharge==true">Service charge 3%</span>
          </td>
        </tr>
        <!-- Row 10 -->
        <tr>
          <th>Special Request</th>
          <td colspan="3">: {{_getBookingForm.specialRequest}}</td>
        </tr>
        <!-- Row 11 -->
        <tr>
          <th>Booked By</th>
          <td>: {{_getBookingForm.bookBy.name}} ({{_getBookingForm.bookBy.position}})</td>
          <th>Tel.</th>
          <td>: {{_getBookingForm.bookBy.tel}}</td>
        </tr>
        <!-- Row 12 -->
        <tr>
          <th>Guide</th>
          <td>: ______________________________</td>
          <th>Tel.</th>
          <td>: ____________________</td>
        </tr>
        <!-- Row 13 -->
        <tr>
          <th>Driver</th>
          <td>: ______________________________</td>
          <th>Tel.</th>
          <td>: ____________________</td>
        </tr>
        <!-- Row 14 -->
        <tr>
          <th>Insurance</th>
          <td *ngIf="_getBookingForm.insurance.isInsurance==true">: Yes</td>
          <td *ngIf="_getBookingForm.insurance.isInsurance==false">: No</td>
          <th>Note</th>
          <td>: {{_getBookingForm.insurance.note}}</td>
        </tr>
        <!-- Row 15 -->
        <tr>
          <th>Commission to Agent / Hotel</th>
          <td *ngIf="_getBookingForm.commission.isCommission==true">: Yes</td>
          <td *ngIf="_getBookingForm.commission.isCommission==false">: No</td>
          <th>Amount</th>
          <td>: {{_getBookingForm.commission.amount}}฿</td>
        </tr>
        <!-- Row 16 -->
        <tr>
          <th>Note By</th>
          <td>: {{_getBookingForm.noteBy.name}}</td>
          <th>Date</th>
          <td>: {{_getBookingForm.noteBy.date}} ({{_getBookingForm.noteBy.time}})</td>
        </tr>
      </table>
    </div>
  <!-- </div> -->
</div>
<!-- End content -->
<br>

<!-- Total price -->
<div class="container bf-content">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bf-text-center">
      <h5>
        <span><b>Signature.</b> : ______________________</span>
        <span class="bf-signature"></span>
      </h5>
      <!-- <h3><b>TOTAL : 3,800฿</b></h3> -->
    </div>
  </div>
</div>
<!-- End total price -->
<br>

<!-- Signature for clear billing -->
<div class="container bf-content">
  <!-- <div class="row"> -->
    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bf-text-right">
      <h5>
        <span><b>Signature.</b> : ______________________</span>
        <span class="bf-signature"></span>
      </h5>
    </div> -->
  <!-- </div> -->
</div>
<!-- End signature -->