<aside id="sidebar-block">
  <div id="sidebar"  class="nav-collapse" style="overflow-y: auto; direction: rtl;">
      <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><img src="./assets/images/logo/logo-daytrip-join.jpg" class="img-circle" width="100"></p>
          <h5 class="centered" style="margin-top: 20px; margin-bottom: 25px;">Admin</h5>
          <!-- Dashboard -->
          <li class="sub-menu">
              <a class="sidebar-active" href="/#/user/admin" [ngClass]="{'active':id==0}" (click)="addClass(id=0);addSubClass(subId=0)">
                  <span>Dashboard</span>
                  <i class="fa fa-area-chart fa-5x" aria-hidden="true"></i>
              </a>
          </li>
          <!-- Manage user -->
          <li class="sub-menu">
              <a class="sidebar-active" href="/#/user/admin/manage-user" [ngClass]="{'active':id==1}" (click)="addClass(id=1);addSubClass(subId=1)">
                  <span>Manage user</span>
                  <i class="fa fa-user fa-5x" aria-hidden="true"></i>
              </a>
          </li>
          <!-- <li class="sub-menu">
              <a class="sidebar-active" href="/#/user/admin/manage-user" [ngClass]="{'active':id==1}" (click)="addClass(id=1)">
                  <span>Booked</span>
                  <i class="fa fa-bar-chart" aria-hidden="true"></i>
              </a>
              <ul class="sub" [ngStyle]="{'display':id==1?'block':'none'}">
                  <li><a href="/#/user/admin/manage-user" [ngClass]="{'sub-active':subId===101}" (click)="addClass(id=1);addSubClass(subId=101)">Manage</a></li>
                  <li><a href="/#/user/admin/manage-user/add" [ngClass]="{'sub-active':subId===102}" (click)="addClass(id=1);addSubClass(subId=102)">Add</a></li>
                  <li><a href="/#/user/admin/manage-user/edit" [ngClass]="{'sub-active':subId===103}" (click)="addSubClass(subId=103)">Edit</a></li>
                  <li><a href="/#/user/admin/manage-user/delete" [ngClass]="{'sub-active':subId===104}" (click)="addSubClass(subId=104)">Delete</a></li>
                  <li><a href="/#/user/admin/manage-user/active" [ngClass]="{'sub-active':subId===105}" (click)="addSubClass(subId=105)">Active</a></li>
              </ul>
          </li> -->
      </ul>
  </div>
</aside>