<!-- Check permission -->
<app-permission-user-aff></app-permission-user-aff>

<!-- Menu bar -->
<app-menu-bar-aff></app-menu-bar-aff>
<!-- Side bar -->
<!-- <app-menu-sidebar-aff></app-menu-sidebar-aff> -->

<!-- Content -->
<section id="main-content" class="panel-block-1">
  <section class="wrapper">
    <!-- Graf -->
    <div class="container">
      <h3 style="text-align:center;margin-top:0px;margin-bottom:35px;padding:15px;font-weight:600 !important;width:85%;margin:auto;">Tours<br><small>(Commission)</small></h3>
      <div style="margin:auto; margin-top:20px;width:80% !important;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <canvas baseChart 
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [colors]="barChartColors"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>
    </div>
    <!-- Stat -->
    <div class="container" style="margin-top: 20px;">
      <div style="margin:auto; width:80% !important;">
        <table style="width:80%; border: solid 1px #cacaca;margin:auto !important;">
          <tr style="background:#545454 !important;">
            <th style="text-align:center;color:white !important;border-right:#cacaca solid 1px;">Day</th>
            <th style="text-align:center;color:white !important;">Booked</th>
          </tr>
          <tr *ngFor="let label of barChartLabels; let i=index">
            <td style="text-align:center; width:50%;border-right:#cacaca solid 1px;"><small>{{label}}</small></td>
            <td *ngFor="let data of barChartData" style="text-align:center;"><small>{{data.data[i] | number}}</small></td>
          </tr>
          <tr style="background: #e4e4e4; border: #cacaca solid 1px;">
            <th style="text-align:center; width:50%;border-right:#cacaca solid 1px;">Total</th>
            <th style="text-align:center;">{{amount | number}}</th>
          </tr>
        </table>
      </div>
    </div>
    <!-- Print -->
    <div class="container no-print" style="margin-top:30px;margin-bottom:15px;">
      <div style="margin:auto; width:60% !important;text-align:center;">
        <button type="submit" mat-stroked-button color="warn" (click)="print()">Print</button>
      </div>
    </div>
  </section>
</section>