<!-- Menu bar -->
<app-menu-bar-aff></app-menu-bar-aff>
<!-- Side bar -->
<app-menu-sidebar-aff></app-menu-sidebar-aff>

<!-- Content -->
<section id="main-content" class="panel-block-1">
  <section class="wrapper">
    <!-- Graf -->
    <div class="container">
      <h3 style="text-align:center;margin-top:0px;margin-bottom:35px;padding:15px;font-weight:600 !important;width:85%;margin:auto;">Booked Table</h3>
      <div style="margin:auto; margin-top:20px;width:80% !important;">
      
      </div>
    </div>
  </section>
</section>