#main-user{
    background-image: url(./../../../../assets/images/tours/inthanon-pagoda-filter.jpg);
}
.user-logo-tc-block{
    position: fixed;
    margin: 10px 0px 0px 25px;
    background-image: url(./../../../../assets/images/logo/tc-logo-white.png);
    background-repeat: no-repeat;
    min-height: 60px;
    width: 100%;
    z-index: 10;
}