<h1>Home work</h1>
<!-- <h2>Name : {{name}}</h2>
<h3>Employee : {{employee}}</h3>
<h4>Email : {{email}}</h4>

<h4>Address</h4>
<ul>
  <li><b>Number</b> : {{address.number}}</li>
  <li><b>Street</b> : {{address.street}}</li>
  <li><b>City</b> : {{address.city}}</li>
  <li><b>Province</b> : {{address.province}}</li>
  <li><b>Postcode</b> : {{address.postcode}}</li>
</ul>

<form (submit)="addSkill(skill.value)">
  <div>
    <label for="skill">Skill : </label>
    <input type="text" #skill placeholder="Add your skill">
  </div>
</form>

<ul>
  <li style="list-style-type:none;"  *ngFor="let skill of skills; let i=index;">
    {{i+1}}. {{skill}}
  </li>
</ul> -->

<!-- <mat-form-field></mat-form-field> -->