<aside id="sidebar-block">
  <div id="sidebar"  class="nav-collapse ">
      <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><img src="./assets/images/logo/logo-daytrip-join.jpg" class="img-circle" width="100"></p>
          <h5 class="centered">Affiliate</h5>
          <li class="mt">
              <a class="sidebar-active" href="/#/user/affiliate/booked">
                  <i class="fa fa-desktop"></i>
                  <span>Booked</span>
              </a>
          </li>
          <li class="">
              <a class="sidebar-active" href="/#/user/affiliate/commission">
                  <i class="fa fa-book"></i>
                  <span>Commission</span>
              </a>
          </li>
      </ul>
  </div>
</aside>