<!-- Check permission -->
<app-permission-admin></app-permission-admin>

<!-- Menu bar -->
<app-menu-bar-admin></app-menu-bar-admin>
<!-- Side bar -->
<app-menu-sidebar-admin></app-menu-sidebar-admin>

<!-- Content -->
<section id="main-content" class="panel-block-1">
    <section class="wrapper">
        <!-- Graf -->
        <div class="container">
            <h3 class="dashboard-header">Add user <i class="fa fa-plus-circle" aria-hidden="true"></i></h3>
            <div class="block-content">
                <table style="width:60%; margin:auto;">
                    <tr style="height: 50px;">
                        <th>Username <span style="color: red;">*</span></th>
                        <td>
                            <input type="text" class="form-control" placeholder="Email" [(ngModel)]="addUser.username">
                        </td>
                    </tr>
                    <tr style="height: 50px;">
                        <th>Password <span style="color: red;">*</span></th>
                        <td>
                            <input type="password" class="form-control" placeholder="Password" [(ngModel)]="addUser.password">
                        </td>
                    </tr>
                    <tr style="height: 50px;">
                        <th>Fullname <span style="color: red;">*</span></th>
                        <td>
                            <input type="text" class="form-control" placeholder="Fullname" [(ngModel)]="addUser.fullname">
                        </td>
                    </tr>
                    <tr style="height: 50px;">
                        <th>Type <span style="color: red;">*</span></th>
                        <td>
                            <select class="form-control" [(ngModel)]="addUser.accountType" >
                                <option value="0" disabled selected>Please select user type</option>
                                <option *ngFor="let type of accountType" value="{{type.id}}">{{type.type}}</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <!-- Button -->
                <div style="text-align: center; margin-top: 30px;">
                    <button type="submit" mat-raised-button class="register-btn" (click)="register()">
                        <span><b>Add</b></span>
                    </button>
                </div>
            </div>
        </div>
    </section>
</section>