<div id="price-box">
  <section class="pricing bgcolor-2" id="section6">
      <div class="container">
          <div class="section-header">
              <h2>Easy to select package.</h2>
              <div class="sub-heading">Cras dictum tellus dui, vitae sollicitudin ipsum tincidunt adipiscing atgfnte varius at. Sed mollis vestibulum sapien sed mattis.Cras dictum tellus duvi, vitae sollicitud tyinstfg duvipsum tincidunt adipiscing ante varius at. Sed mollis ves tibulum Sed mollis vestibu lum sapien sed matti sapien sed mattis.</div>
          </div>
          <div class="row packages">
              <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="single-package green-line-top white-bg diffuse-shadow wow fadeInLeft" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                      <h5>Silver</h5>
                      <div class="price-circle-green">
                          <h4 class="white-text">Join</h4>
                          <div class="extra-small-text white-text">Package</div>
                      </div>
                      <ul class="feature-list">
                          <li><span class="strong">Adult:</span>1700฿</li>
                          <li><span class="strong">Child:</span>1700฿</li>
                          <li><span class="strong">Person:</span>6 Person</li>
                          <li><span class="icon icon-icon-check"></span>VIP Bus: 6 Seat</li>
                          <li><span class="icon icon-icon-check"></span>Professional Guid</li>
                          <li><span class="icon icon-icon-check"></span>Accessories</li>
                      </ul><a href class="btn btn-default standard-button green-outline">Get Started</a></div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="single-package red-line-top white-bg diffuse-shadow wow fadeInUp" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                      <h5>Gold</h5>
                      <div class="price-circle-red">
                          <h4 class="white-text">Private</h4>
                          <div class="extra-small-text white-text">Package</div>
                      </div>
                      <ul class="feature-list">
                          <li><span class="strong">Adult:</span>2400฿</li>
                          <li><span class="strong">Child:</span>2400฿</li>
                          <li><span class="strong">Pax:</span>2-3</li>
                          <li><span class="icon icon-icon-check"></span></li>
                          <li><span class="icon icon-icon-check"></span></li>
                          <li><span class="icon icon-icon-check"></span></li>
                      </ul><a href class="btn btn-default standard-button red-button">Get Started</a></div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="single-package purple-line-top white-bg diffuse-shadow wow fadeInRight" data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30">
                      <h5>Plutinum</h5>
                      <div class="price-circle-purple">
                          <h4 class="white-text">Private</h4>
                          <div class="extra-small-text white-text">Package</div>
                      </div>
                      <ul class="feature-list">
                          <li><span class="strong">Adult:</span>2100฿</li>
                          <li><span class="strong">Child:</span>2100฿</li>
                          <li><span class="strong">Pax:</span>4-5</li>
                          <li><span class="icon icon-icon-check"></span>Secure Platform</li>
                          <li><span class="icon icon-icon-check"></span>Fast &amp; Reliable</li>
                          <li><span class="icon icon-icon-check"></span>24/7 Customer Support</li>
                      </ul><a class="btn btn-default standard-button purple-outline" href>Get Started</a></div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="single-package vip-line-top white-bg diffuse-shadow wow fadeInRight" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                      <h5>VIP</h5>
                      <div class="price-circle-vip">
                          <h4 class="white-text">Private</h4>
                          <div class="extra-small-text white-text">Package</div>
                      </div>
                      <ul class="feature-list">
                          <li><span class="strong">800GB</span>Online Storage</li>
                          <li><span class="strong">20</span>Files Per Day</li>
                          <li><span class="strong">2TB</span>Monthly Bandwidth</li>
                          <li><span class="icon icon-icon-check"></span>Secure Platform</li>
                          <li><span class="icon icon-icon-check"></span>Fast &amp; Reliable</li>
                          <li><span class="icon icon-icon-check"></span>24/7 Customer Support</li>
                      </ul><a href class="btn btn-default standard-button vip-outline">Get Started</a></div>
              </div>
          </div>
      </div>
  </section>
</div>