<section class="section-four" id="section-four">
    <div class="container">
        <header role="title-page" class="text-center">
            <h4>Meet The Team</h4>
            <h2>Our team is passionate about bringing the <br/>best for our customers.</h2>
        </header>

        <!-- Team -->
        <div class="team-pan row">
            <section class="col-xs-12 col-sm-6 col-md-3">
                <figure><img src="http://placehold.it/249x263" alt="" class=" img-responsive" /></figure>
                <header>
                    <h5>Antony Casalena</h5>
                    <h6>Vice president</h6>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                </header>
            </section>

            <section class="col-xs-12 col-sm-6 col-md-3">
                <figure><img src="http://placehold.it/249x263" alt="" class=" img-responsive" /></figure>
                <header>
                    <h5>Anaia Doe</h5>
                    <h6>Creative Head</h6>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                </header>
            </section>

            <section class="col-xs-12 col-sm-6 col-md-3">
                <figure><img src="http://placehold.it/249x263" alt="" class=" img-responsive" /></figure>
                <header>
                    <h5>Johnathan Doe</h5>
                    <h6>Development Lead</h6>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                </header>
            </section>

            <section class="col-xs-12 col-sm-6 col-md-3">
                <figure><img src="http://placehold.it/249x263" alt="" class=" img-responsive" /></figure>
                <header>
                    <h5>Julian Gulia</h5>
                    <h6>Marketing Head</h6>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                </header>
            </section>
        </div>
        <!-- Team -->
    </div>
</section>