<section class="section-six" id="section-six">
  <div class="container">
    <header role="title-page" class="text-center">
      <h4>Get in touch</h4>
      <h2>Have any questions? Our team will happy to<br/>answer your questionss.</h2>
    </header>
    <!-- contact-form -->
    <div class="contact-form">
      <div id="message"></div>
      <form method="post" action="php/contactfrom.php" name="cform" id="cform">
        <div class="col-md-6 col-lg-6 col-sm-6">
          <input name="name" id="name" type="text" placeholder="Full Name">
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
          <input name="email" id="email" type="email" placeholder="Email Address">
        </div>
        <div class="clearfix"></div>
        <textarea name="comments" id="comments" cols="" rows="" placeholder="Question in Detail"></textarea>
        <div class="clearfix"></div>
        <input name="" type="submit" value="Send mail">
        <div id="simple-msg"></div>
      </form>
    </div>
    <!-- contact-form -->
    <div class="clearfix"></div>
  </div>

  <!-- map -->
  <!-- <div class="map-wrapper">
    <div id="surabaya"></div>
  </div> -->
  <!-- map -->
</section>