<div id="footer-tc">
  <div class="container">
    <div class="row">
      <!-- Address -->
      <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 footer-item block-footer">
        <div class="footer-logo col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <span>
            <font class="footer-logo-front">T</font>
            <font class="footer-logo-back">ouring </font>
          </span>
          <span>
            <font class="footer-logo-front">C</font>
            <font class="footer-logo-back">enter</font>
          </span>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <span>
            14 1<sup>st</sup> Floor, Ratchadamnoen Rd., Soi 5, Sriphum, Muang, Chiang Mai 50220 Thailand
          </span>
        </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-5">
            Mobile
          </div>
          <div class="col-lg-9 col-md-8 col-sm-8 col-xs-7">
            : <a href="tel:+66882585817" class="footer-link">+66 (0)88 258 5817</a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-5">
            Tel
          </div>
          <div class="col-lg-9 col-md-8 col-sm-8 col-xs-7">
            : <a href="tel:+6653289644" class="footer-link">+66 (0)53 289 644-5</a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-5">
            Fax
          </div>
          <div class="col-lg-9 col-md-8 col-sm-8 col-xs-7">
            : +66 (0)53 289 646
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-5">
            E-mail
          </div>
          <div class="col-lg-9 col-md-8 col-sm-8 col-xs-7">
            : <a href="mailto:reservations@touringcnx.com" class="footer-link">reservations@touringcnx.com</a>
          </div>
      </div>
      <!-- End address -->
      
      <!-- Day Trip -->
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 block-footer">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-head">
          <b>DAY TRIP</b>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <a href="/" class="footer-link">Sightseeing Tours</a>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <a href="/" class="footer-link">Cultural Tours</a>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <a href="/" class="footer-link">Elephant Tours</a>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <a href="/" class="footer-link">Nature & Adventure Tours</a>
        </div>
      </div>
      <!-- End Day Trip -->

      <!-- Use full link -->
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 block-footer">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-head">
          <b>USEFUL LINK</b>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <a href="/" class="footer-link">About</a>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <a href="/" class="footer-link">Promotion</a>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <a href="/" class="footer-link">Gallery</a>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <a href="/" class="footer-link">Package tours</a>
        </div>
      </div>
      <!-- End Day Trip -->

      <!-- Day Trip -->
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 block-footer">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-other">
          <img class="footer-logo-tripadvisor" src="../assets/images/certificate/tripadvisor-2016.png" alt="Touring Center Certificate Tripadvisor 2016">
          <img class="footer-logo-tripadvisor" src="../assets/images/certificate/tripadvisor-2017.png" alt="Touring Center Certificate Tripadvisor 2017">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-other">
          <a href="/" class="footer-link"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
          <a href="/" class="footer-link"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
          <a href="/" class="footer-link"><i class="fa fa-youtube-square fa-3x" aria-hidden="true"></i></a>
        </div>
      </div>
      <!-- End Day Trip -->
    </div> <!-- End row -->
  </div> <!-- End container -->
</div>
<div class="footer-credit">
  <div class="container-fruid">
      <span>Copyright © 2017 
        <a href="/">Touring Center.</a>
        All Rights Reserved.</span>
  </div>
</div>
<!-- <footer>
  <div class="row">
      <div class="col-md-4 col-sm-6 footer-contacts footer-item">
          <div class="title"><img src="logo-touringcenter.png" class="img-responsive" /></div>
          <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
              <p><span class="new-line-span">Soi 5 Sriphum, Muang Chiang</span>Thailand</p>
          </div>
          <div><i class="fa fa-phone footer-contacts-icon"></i>
              <p class="footer-center-info email text-left">+66 (0) 53 289 644-5 </p>
          </div>
          <div><i class="fa fa-fax footer-contacts-icon"></i>
              <p class="footer-center-info email text-left">+66 (0) 53 289 644-5 </p>
          </div>
          <div><i class="fa fa-envelope footer-contacts-icon"></i>
              <p>reservations@touringcnx.com </p>
          </div>
      </div>
      <div class="col-md-4 col-sm-6 footer-navigation footer-item">
          <div>
              <h2>Address </h2></div>
          <p>14 l<sup>st</sup> Floor, Ratchadamnoen Rd., Soi 5, Sriphum, Muang, Chiang Mai 50200 Thailand </p>
          <p>Mobile : +66 (0) 88 258 5817 </p>
          <p>Tel : +66 (0) 53 289 644-5 </p>
          <p>Fax : +66 (0) 53 289 646 </p>
          <p>E-mail : reservations@touringcnx.com </p>
          <p class="company-name">Company Name © 2015 </p>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-md-4 footer-about footer-item">
          <h4>About the company</h4>
          <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
          </p>
          <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
      </div>
  </div>
</footer> -->