<div class="fantastic-container">
  <header role="header" class="header-top" id="headere-top">
    <div class="header-fixed-wrapper" role="header-fixed">
      <div class="container">
        <!-- hgroup -->
        <div myattr='hgroup' class="row">
          <!-- logo -->
          <div class="col-xs-5 col-sm-2 col-md-2 col-lg-2 company">
            <h1>
              <a href="/" title="Touring Center">
                <img src="assets/images/tc-logo.png" alt="Rooky" title="www.tour-in-chiangmai.com"/></a>
            </h1>
          </div>
          <!-- logo -->

          <!-- nav -->
          <nav role="navigation" class="col-xs-12 col-sm-10 col-md-10 col-lg-10 navbar navbar-default">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a scrollTo title="Home">Home</a></li>
                <li><a scrollTo scrollTargetSelector="#description" title="Description">Description</a></li>
                <li><a scrollTo scrollTargetSelector="#option" title="Assessories">Accessories</a></li>
                <li><a scrollTo scrollTargetSelector="#price-box" title="Pricing">Price</a></li>
                <li><a scrollTo scrollTargetSelector="#works" title="Gallary">Gallary</a></li>
                <li><a scrollTo scrollTargetSelector="#map-container" title="Map">Map</a></li>
              </ul>
            </div>
          </nav>
          <!-- nav -->
        </div>
        <!-- hgroup -->
      </div>
    </div>

    <!-- banner Text -->
    <section class="header-banner text-center">
      <h2 class="header-title">Enjoin to happy with US to travel </h2>
      <p class="header-text">Perfect and awesome theme to present your product or service</p>
      <a class="header-video popup-vimeo video-button" href="https://vimeo.com/45830194">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </a>
      <a href="#" class="header-getstart button-header">Get Strated</a>
    </section>
    <!-- banner Text -->

    <!-- banner image -->
    <figure>
      <div style=" height: 648px;
        background-image: url(assets/images/tc-natual-2.jpeg);
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;">
      </div>
    </figure>
    <!-- banner image -->
  </header>
  <!-- header -->
  
  <app-intro></app-intro>
  <app-trip></app-trip>
  <app-accessory></app-accessory>
  <app-price></app-price>
  <app-gallery></app-gallery>
  <app-map></app-map>
  <app-footer></app-footer>    