<section id="container" >
<!--header start -->
    <header class="header black-bg" id="header-block">
        <div class="sidebar-toggle-box">
            <!-- <div class="fa fa-bars tooltips" data-placement="right"></div> -->
        </div>
        <a href="index.html" class="logo"><b>Touring Center</b></a>

        <div id="top_menu" class="pull-right">
            <div class="nav top-menu">
                <ul class="nav top-menu">
                    <li><a class="logout" href="login.html">Logout</a></li>
                </ul>
            </div>
        </div>
    </header>
<!--header end -->

<!--sidebar start -->
    <aside id="sidebar-block">
        <div id="sidebar"  class="nav-collapse ">
            <ul class="sidebar-menu" id="nav-accordion">
                <p class="centered"><img src="./assets/images/logo/logo-daytrip-join.jpg" class="img-circle" width="100"></p>
                <h5 class="centered">Reservation (Jha)</h5>
                <li class="mt">
                    <a class="active" href="/">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-desktop"></i>
                        <!-- <i class="fa fa-bar-chart-o"></i> -->
                        <span>Reservation</span>
                        <!-- <i class="fa fa-sort-down" style="float:right;"></i> -->
                        <i class="fa fa-angle-down" style="float:right;"></i>
                    </a>
                    <ul class="sub">
                        <li><a href="/reservation">Add book</a></li>
                        <li><a href="/booked-statistics">Check book</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-book"></i>
                        <!-- <i class="fa fa-bar-chart-o"></i> -->
                        <span>Print Book</span>
                        <!-- <i class="fa fa-sort-down" style="float:right;"></i> -->
                        <i class="fa fa-angle-down" style="float:right;"></i>
                    </a>
                    <ul class="sub">
                        <li><a href="/bookingform">Booking Form</a></li>
                        <li><a href="/invoice">Invoice</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
<!--sidebar end-->

<!-- Template start -->
    <section id="main-content">
        <section class="wrapper">
            <router-outlet></router-outlet>
        </section>
    </section>
<!-- Template end -->

</section>