<div class="gallery-container">
    <div class="wrapper">
      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5 masonry">
        <li class="masonry-item grid wow fadeInUp">
          <figure class="effect-sarah">
            <img alt="" src="assets/images/adventures/advanture-cover.jpg">
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>              
            </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid wow fadeInUp">
          <figure class="effect-sarah">
            <img alt="" src="assets/images/adventures/tc-adventure-1.jpg">
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>              
            </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid wow fadeInUp">
          <figure class="effect-sarah">
            <img alt="" src="assets/images/adventures/tc-adventure-2.jpg">
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>              
            </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid wow fadeInUp">
          <figure class="effect-sarah">
            <img alt="" src="assets/images/adventures/tc-adventure-3.jpg">
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>              
            </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid wow fadeInUp">
          <figure class="effect-sarah">
            <img alt="" src="assets/images/adventures/tc-adventure-4.jpg">
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>              
            </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid wow fadeInUp">
          <figure class="effect-sarah">
            <img alt="" src="assets/images/adventures/tc-adventure-1.jpg">
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>              
            </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid wow fadeInUp">
          <figure class="effect-sarah">
            <img alt="" src="assets/images/adventures/tc-adventure-2.jpg">
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>              
            </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid wow fadeInUp">
          <figure class="effect-sarah">
            <img alt="" src="assets/images/adventures/tc-adventure-3.jpg">
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>              
            </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid wow fadeInUp">
          <figure class="effect-sarah">
            <img alt="" src="assets/images/adventures/tc-adventure-4.jpg">
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid wow fadeInUp">
          <figure class="effect-sarah">
            <img alt="" src="assets/images/adventures/tc-adventure-1.jpg">
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </figcaption>
          </figure>
        </li>
      </ul>
    </div>
  </div>