  <!-- section-one -->
  <section class="section-one text-center wow slideInDown" id="section-one">
    <div class="container">
        <header role="title-page">
            <h4>Our Service</h4>                    
        </header>
        <article>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur
                ac, ves<br/> tibulum at eros. Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero,
                a pharetra augue.<br/> Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                Maecenas mollis interdum!
            </p>                        
        </article>
        <!-- four boxes  -->

        <div class="row four-box-pan" role="four-box">
            <section class="col-xs-12 col-sm-6 col-md-3">
                <figure><i class="fa fa-sun-o" aria-hidden="true"></i></figure>
                <h5>Greate premeim day trip</h5>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo orta felis euismod semper.</p>
            </section>

            <section class="col-xs-12 col-sm-6 col-md-3">
                <figure><i class="fa fa-magic" aria-hidden="true"></i></figure>
                <h5>Higly customizable</h5>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo orta felis euismod semper.</p>
            </section>

            <section class="col-xs-12 col-sm-6 col-md-3">
                <figure><i class="fa fa-paper-plane" aria-hidden="true"></i></figure>
                <h5>Simplified workflow</h5>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo orta felis euismod semper.</p>
            </section>

            <section class="col-xs-12 col-sm-6 col-md-3">
                <figure><i class="fa fa-television" aria-hidden="true"></i></figure>
                <h5>Cross platform</h5>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo orta felis euismod semper.</p>
            </section>
        </div>
        <!-- four boxes -->
    </div>
</section>
<!-- section-one -->