  <!-- section-three -->
  <section class="section-three" id="section-three">
      <div class="container">
          <header role="title-page" class="text-center">
              <h4>Flexible Plans</h4>
              <h2>Select the plan that suits you. Upgrade,<br/> downgrade, or cancel anytime.</h2>
          </header>

          <!-- pricing -->
          <div class="pricing">
              <section>
                  <header>
                      <h4>Bronze</h4>
                  </header>
                  <h2><span>$10</span> /mo</h2>
                  <ul>
                      <li>Free Shipping</li>
                      <li>24/7 Support</li>
                      <li>Single Licence</li>
                  </ul>
                  <input name="" type="button" value="get Strated">
              </section>

              <section>
                  <header>
                      <h4>Silver</h4>
                  </header>
                  <h2><span>$20</span> /mo</h2>
                  <ul>
                      <li>Free Shipping</li>
                      <li>24/7 Support</li>
                      <li>Single Licence</li>
                  </ul>
                  <input name="" type="button" value="get Strated">
              </section>

              <section>
                  <header>
                      <h4>Gold</h4>
                  </header>
                  <h2><span>$50</span> /mo</h2>
                  <ul>
                      <li>Free Shipping</li>
                      <li>24/7 Support</li>
                      <li>Single Licence</li>
                  </ul>
                  <input name="" type="button" value="get Strated">
              </section>
          </div>

          <!-- pricing -->
      </div>
  </section>
  <!-- section-three -->