#main-user{
    background-image: url(./../../../../assets/images/tours/coffee-breath-of-nature-filter.jpg);
}
.register-block{
    padding-top: 100px;
}
.register-content-block{
    background: white;
    min-height: 400px;
    margin: auto;
    border-radius: 5px;
    padding: 30px;
    // box-shadow:#ff6262 1px 1px 15px;
    box-shadow:#fff 1px 1px 15px;
    z-index: 20;
}
.register-head-icon-block{
    text-align: right;
    margin-top:-80px;
}
.register-head-icon{
    background-color:#6d0000;
    border-radius: 50px;
    padding: 22.5px 19.5px;
    color:white;
    box-shadow: white 0px 1px 15px;
    // position: absolute;
}
.register-head-text{
    margin: 30px 0px 30px 0px;
    text-align:center;
}
.register-field-block{
    margin:8px 0px;
}
.register-btn-block{
    margin:8px 0px;
    text-align: center;
}
.register-btn{
    background:#6d0000;
    color:white;
}
.register-datepicker{
    width:100%;
    // border:1px #ccc solid;
    // border-radius:5px;
    height: 34px;
}
.register-condition{
    font-size: 12px;
    margin-top: 20px;
}
.register-back-login{
    text-align: left;
    font-size: 12px;
    margin-top: 10px;
}
.register-block-valid{
    margin-bottom: 0;
    font-size: 12px;
    color: red;
}
// Dialog
.dialog-text{
    cursor: pointer;
}
.modal-header{
    background: #fff;
    // border: 1px solid #ddd;
}