<!-- Re captcha google -->
<script src='https://www.google.com/recaptcha/api.js'></script>

<section id="main-user">
  <!-- TC Logo -->
  <div class="container user-logo-tc-block"></div>
  
  <!-- Form block -->
  <div class="container register-block">
    <div class="col-lg-8 col-md-6 col-sm-4 col-xs-2"></div>

    <!-- Content start -->
    <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10 register-content-block">
      
      <!-- Icon register -->
      <div class="register-head-icon-block">
        <p><i class="fa fa-user-plus fa-3x register-head-icon" aria-hidden="true"></i></p>
      </div>
      
      <!-- Header register -->
      <div class="register-head-text">
        <h3><b>Register</b></h3>
      </div>
      
      <!-- Email -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 register-field-block form-group" [class.has-error]="email.invalid && email.touched">
        <input type="email" class="form-control" placeholder="email" [(ngModel)]="registerData.email" #email="ngModel" id="email" name="email" (blur)="CheckEmailRepeat()" (keyup)="ValidationField()" required [email]="registerData.email!==''">
        <span class="help-block register-block-valid" *ngIf="email.errors?.required && email.touched">Email is required</span>
        <span class="help-block register-block-valid" *ngIf="email.errors?.email && email.touched">Email is invalid</span>
        <span class="help-block register-block-valid" *ngIf="registerData.isEmailRepeat==true && registerData.isEmailFormat==true">This email is not available.</span>
      </div>
      
      <!-- Password -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 register-field-block">
        <input type="password" class="form-control" placeholder="password" [(ngModel)]="registerData.password" id="password" (mouseenter)="CheckEmailRepeat()" (keyup)="ValidationField()" required>
      </div>
      
      <!-- Fullname -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 register-field-block">
        <input type="text" class="form-control" placeholder="fullname" [(ngModel)]="registerData.fullname" id="fullname" (mouseenter)="CheckEmailRepeat()" (keyup)="ValidationField()" required>
      </div>
      
      <!-- Date of birth -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 register-field-block">
        <mat-form-field class="register-datepicker">
          <input matInput [matDatepicker]="picker" placeholder="date of birth" [(ngModel)]="registerData.birth" id="birth" (mouseenter)="CheckEmailRepeat()" (dateChange)="ValidationField()" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false" touchUi="true"></mat-datepicker>
        </mat-form-field>
      </div>
      
      <!-- Agree conditions -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 register-field-block">
        <p class="register-condition">
          <mat-checkbox [(ngModel)]="registerData.isAgree" (mouseenter)="CheckEmailRepeat()" (change)="ValidationField()" required></mat-checkbox>
          <span>You agree to Touring Center </span>
          <span data-toggle="modal" data-target="#policy-modal" class="dialog-text"><b>Policy and Conditions.</b></span>
          <!-- <span>.</span> -->
        </p>
      </div>
      
      <!-- Button register -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 register-btn-block">
        <button type="submit" mat-raised-button class="register-btn" [disabled]="registerData.isRegister==false" (focus)="Submit()" required>
          <span><b>Submit</b></span>
        </button>
      </div>
      
      <!-- Back to Login -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 register-btn-block">
        <p class="register-back-login">
          <a href="/#/user/login">Back to Login</a>
        </p>
      </div>

    </div>
    <!-- Content end -->

    <!-- Modal -->
    <div class="modal fade" id="policy-modal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
            <p>Some text in the modal.</p>
            <p>Some text in the modal.</p>
            <p>Some text in the modal.</p>
            <p>Some text in the modal.</p>
            <p>Some text in the modal.</p>
            <p>Some text in the modal.</p>
            <p>Some text in the modal.</p>
            <p>Some text in the modal.</p>
            <p>Some text in the modal.</p>
            <p>Some text in the modal.</p>
            <p>Some text in the modal.</p>
            <p>Some text in the modal.</p>
            <p>Some text in the modal.</p>
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div> -->
        </div>
        
      </div>
    </div>

  </div>
</section>