<!-- Check permission -->
<app-permission-admin></app-permission-admin>

<!-- Menu bar -->
<app-menu-bar-admin></app-menu-bar-admin>
<!-- Side bar -->
<app-menu-sidebar-admin></app-menu-sidebar-admin>


<!-- Content -->
<section id="main-content" class="panel-block-1">
    <section class="wrapper">
        <!-- Graf -->
        <div class="container">
            <h3 class="dashboard-header">User active</h3>
            <!-- <hr style="width: 100px; text-align: center; border: #651e1e 1px solid; margin-bottom: 30px;"> -->
            <div style="margin:auto; margin-top:30px;width:80% !important;">
                <table class="table table-bordered table-hover">
                    <!-- Table Header -->
                    <tr class="font-table-13px">
                    <th class="text-center bg-damask text-light td-data">No.</th>
                    <th class="text-center bg-damask text-light td-data">Username</th>
                    <th class="text-center bg-damask text-light td-data">Fullname</th>
                    <th class="text-center bg-damask text-light td-data">Status</th>
                    </tr>
                    <!-- Table Body -->
                    <tr *ngFor="let user of getUser.data | slice:pointStart:pointEnd; let i = index;" [class.table-info]="highlightId==user.userId" class="font-table-12px">
                    <td class="text-center td-data">{{i+1+(perPage*(activePage-1))}}</td>
                    <td class="text-center td-data">{{user.username}}</td>
                    <td class="text-center td-data">{{user.fullname}}</td>
                    <td class="text-center td-data">
                        <p *ngIf="user.status=='Active'" data-toggle="modal" data-target="#myModal" (click)="openDialog(user.token)" class="dialog-popup dialog-active">{{user.status}}</p>
                        <p *ngIf="user.status=='Non active'" data-toggle="modal" data-target="#myModal" (click)="openDialog(user.token)" class="dialog-popup dialog-non-active">{{user.status}}</p>
                        
                        <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->
                    </td>
                    </tr>
                </table>

                <!-- Page -->
                <div class="text-center">
                    <nav aria-label="Page navigation">
                        <p style="margin:0 !important; color:#3e3e3e;"><small>Page : {{activePage}} of {{totalPage}}</small></p>
                        <ul class="pagination text-center">
                            <li class="page-item">
                            <a class="page-link" [routerLink]="['/#/user/admin/user-manage']" [queryParams]="{page: 1}"> First</a>
                            </li>
                            <li class="page-item disabled" [class.disabled]="activePage==1">
                            <a class="page-link" [routerLink]="['/#/user/admin/user-manage']" [queryParams]="{page: prevPage}"> Previous</a>
                            </li>
                            <li class="page-item" *ngFor="let i of iPage" [class.active]="activePage==i">
                            <a class="page-link" [routerLink]="['/#/user/admin/user-manage']" [queryParams]="{page: i}">{{i}}</a>
                            </li>
                            <li class="page-item" [class.disabled]="activePage==totalPage">
                            <a class="page-link" [routerLink]="['/#/user/admin/user-manage']" [queryParams]="{page: nextPage}"> Next</a>
                            </li>
                            <li class="page-item">
                            <a class="page-link" [routerLink]="['/#/user/admin/user-manage']" [queryParams]="{page: totalPage}"> Last</a>
                            </li>
                            <!-- <li class="page-item">
                            <span class="block-search-page">
                                Page : <input matInput #pageInput type="number" (input)="changePage(pageInput.value)" min="1" max="{{totalPage}}" value="{{activePage}}" class="input-search-page"> of {{totalPage}}
                            </span>
                            </li> -->
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- modals -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <h4 style="text-align: center; margin: 35px 0;"><b>User</b> &nbsp;:&nbsp; {{dialogData.fullname}}</h4>
                        <div class="modal-body">
                            <div style="text-align: center; margin: auto; height: 70px; padding-top: 0;">
                                <select [(ngModel)]="userActive.active" class="form-control" style="height: 35px;">
                                    <option *ngFor="let dialog of dialogData.activeData;" value="{{dialog.active}}" [selected]="dialog.active==dialogData.active">{{dialog.status}}</option>
                                </select>
                                <!-- <input type="checkbox" [checked]="dialogActive=='Active'" data-toggle="toggle" data-onstyle="danger"> -->
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="saveActive()" style="min-width: 90px !important;">OK</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" style="min-width: 90px !important;">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- container -->
    </section>
  </section>