<!-- Check permission -->
<app-permission-member></app-permission-member>

<!-- Menu bar -->
<app-menu-bar-member></app-menu-bar-member>

<!-- Content -->
<section id="main-content" class="panel-block-1">
  <section class="wrapper">

    <!-- Form block -->
    <div class="container content-block">
      <h3 class="block-header">ขั้นตอนที่ 4 : <span class="sub-header">ตรวจสอบและยืนยันการขอเข้าร่วม Affiliate</span></h3>
      <div class="content-main-block">

        <!-- Personal -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content-block">
          <h4><u>ข้อมูลส่วนตัว</u></h4>
          <table class="table-block">
            <tr>
              <th>ชื่อ-นามสกุล</th>
              <td>: {{memberData.personalInfo.fullname}}</td>
            </tr>
            <tr>
              <th>วัน/เดือน/ปีเกิด</th>
              <td>: {{memberData.personalInfo.birth}}</td>
            </tr>
            <tr>
              <th>เบอร์โทรศัพท์</th>
              <td>: {{memberData.personalInfo.tel}}</td>
            </tr>
            <tr>
              <th>อีเมล</th>
              <td>: {{memberData.personalInfo.email}}</td>
            </tr>
            <tr>
              <th>สัญชาติ</th>
              <td>: {{memberData.personalInfo.nationality}}</td>
            </tr>
            <tr>
              <th>ที่อยู่</th>
              <td>: {{memberData.personalInfo.address}}</td>
            </tr>
            <tr>
              <th>เลขประจำตัวประชาชน</th>
              <td>: {{memberData.personalInfo.idNumber}}</td>
            </tr>
            <!-- <tr>
              <th>รูปถ่าย</th>
              <td>: {{memberData.personalInfo.profilePicture}}</td>
            </tr>
            <tr>
              <th>สำเนาบัตรประชาชน</th>
              <td>: {{memberData.personalInfo.copyIdCard}}</td>
            </tr> -->
          </table>
        </div>

        <!-- Bank -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content-block">
          <h4><u>ข้อมูลบัญชีธนาคาร</u></h4>
          <table class="table-block">
            <tr>
              <th>ธนาคาร</th>
              <td>: {{memberData.bankInfo.bank.bankTH}}</td>
            </tr>
            <tr>
              <th>ชื่อบัญชี</th>
              <td>: {{memberData.bankInfo.accountName}}</td>
            </tr>
            <tr>
              <th>หมายเลขบัญชี</th>
              <td>: {{memberData.bankInfo.accountNo}}</td>
            </tr>
            <!-- <tr>
              <th>สำเนาสมุดบัญชี</th>
              <td>: {{memberData.bankInfo.copyBook}}</td>
            </tr> -->
          </table>
        </div>

        <!-- URL -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content-block">
          <h4><u>ช่องทางการโฆษณา</u></h4>
          <table class="table-block">
            <tr>
              <th style="vertical-align: top;">ช่องทางโฆษณา</th>
              <td>: {{memberData.adsInfo.url1}}</td>
            </tr>
            <tr *ngIf="memberData.adsInfo.url2!=''">
              <th></th>
              <td>: {{memberData.adsInfo.url2}}</td>
            </tr>
            <tr *ngIf="memberData.adsInfo.url3!=''">
              <th></th>
              <td>: {{memberData.adsInfo.url3}}</td>
            </tr>
          </table>
        </div>

        <!-- Term, Condition, Policy -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 policy-block">
          <p>
            <mat-checkbox [(ngModel)]="agree" (change)="agrees()"></mat-checkbox> 
            โปรด
            <span class="read-policy" data-toggle="modal" data-target="#policy-modal"><b>อ่าน</b></span>
            แล้วยอมรับเงื่อนไขและข้อตกลงของเรา
          </p>
        </div>

        <!-- Join button -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 join-block">
          <button mat-raised-button color="warn" [disabled]="agree==false" (click)="submitJoinAffiliate()">ยืนยันการขอเข้าร่วม Affiliate</button>
        </div>

      </div>
    </div>

    <!-- Modal popup term & condition & policy -->
    <!-- <div id="policy-modal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p>ข้อตกลงและเงื่อนไข</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> -->

    <!-- modal condition & policy -->
    <div id="policy-modal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <h4 style="text-align: center; margin: 10px 0 40px 0;">ข้อตกลงและเงื่อนไขทั่วไปสำหรับตัวแทนโฆษณา (Affiliate)</h4>

            <!-- 1. การก่อให้เกิดสัญญา -->
            <div>
              <p><b><u>การก่อให้เกิดสัญญา</u></b></p>
              <p>สัญญาระหว่าง ทัวร์ริ่ง เซนเตอร์ และ Affiliate ในด้านการวางสื่อโฆษณาจะต้องผ่านทางกระบวนการสมัครใช้งานแพลตฟอร์มของ ทัวร์ริ่ง เซนเตอร์ เท่านั้น ด้วยเหตุนี้ Affiliate จำเป็นต้องอ่านข้อกำหนดและเงื่อนไขในการสมัครรวมถึงสัญญาฉบับนี้และยอมรับการเข้าร่วมเป็น Affiliate ภายใต้ข้อกำหนดและเงื่อนไขที่ระบุไว้</p>
            </div>

            <!-- 2. ขอบเขตของงาน -->
            <div>
              <p><b><u>ขอบเขตของงาน</u></b></p>
              <p>1.  การเข้าร่วม Affiliate program และส่งเสริมการขายของ ทัวร์ริ่ง เซนเตอร์ โดย Affiliate เป็นตัวแทนโฆษณาเท่านั้น</p>
              <p>2.  Affiliate สามารถเลือกโปรแกรมทัวร์ของ ทัวร์ริ่ง เซนเตอร์ เพื่อใช้โฆษณาได้</p>
              <p>3.  Affiliate สามารถใช้ช่องทางใดก็ได้ในการโฆษณา แต่ต้องอยู่ภายใต้เงื่อนไขที่ทาง ทัวร์ริ่ง เซนเตอร์ กำหนดเอาไว้</p>
            </div>

            <!-- 3. ข้อผูกมัดและข้อตกลงของ Affiliate -->
            <div>
              <p><b><u>ข้อผูกมัดและข้อตกลงของ Affiliate</u></b></p>
              <p>1.  Affiliate ห้ามแก้ไขสื่อโฆษณาและเนื้อหา ที่ผิดเพี้ยนไปจากโปรแกรมทัวร์ของ ทัวร์ริ่ง เซนเตอร์ ยกเว้นแต่จะมีการกำหนดในสัญญาว่าสามารถแก้ไขข้อมูลได้</p>
              <p>2.  ห้าม Affiliate โฆษณาเนื้อหาและภาพประกอบในทางที่ไม่เหมาะสม เช่น ทางเพศและลามกอนาจาร ข้อความหลอกลวง หรือเนื้อหาที่เป็นการเลือกปฏิบัติ (ด้านเพศ เชื้อชาติ การเมือง ศาสนา สัญชาติ ความพิการหรือการดูหมิ่นต่างๆ) หากมีการฟ้องร้อง Affiliate จะต้องรับผิดชอบค่าใช้จ่ายที่เกิดขึ้นจากเหตุดังกล่าวทั้งหมด</p>
              <p>3.  ห้าม Affiliate สร้างหรือตั้งเว็บไซต์/เฟสบุ๊ค/ไลน์/ยูทูป/อื่นๆ ที่อาจเพิ่มความสับสนในการนำเสนอ โดยที่มีเนื้อหารูปภาพและการแสดงผลต่างๆ ที่เหมือนกับเว็บไซต์/เฟสบุ๊ค/ไลน์/ยูทูป/อื่นๆ จริงของ ทัวร์ริ่ง เซนเตอร์ ซึ่งอาจทำให้เกิดการละเมิดหรือแอบอ้างว่าตนเองเป็น ทัวร์ริ่ง เซนเตอร์ หากตรวจสอบและพบเจอ Affiliate จะต้องรับผิดชอบค่าใช้จ่ายที่เกิดขึ้นจากเหตุดังกล่าวทั้งหมด</p>
              <p>4.  การทำโฆษณาบนเว็บไซต์ของ Affiliate จะต้องเห็นได้ชัดเจน ห้ามมิให้ Affiliate ใช้แอดออน ไอเฟรม ป๊อบอัพหรืออื่นๆ ที่จะเป็นการหลอกให้ผู้ใช้งานเข้าไปเพื่อหวังเก็บคุกกี้โดยที่ผู้ใช้งานไม่ได้สมัครใจและตั้งใจที่จะคลิกเข้าไปเอง</p>
              <p>5.  ห้าม Affiliate ใช้การโฆษณาของ ทัวร์ริ่ง เซนเตอร์ เพื่อใช้ในการโฆษณาแอบแฝงหรือไปยังบุคคลที่สาม ซึ่งก็คือห้ามมิให้ Affiliate ใช้ ทัวร์ริ่ง เซนเตอร์ เพื่อเป็นโฆษณาให้บริษัทหรือแพรตฟอร์มอื่นๆ</p>
              <p>6.  ห้าม Affiliate สื่อส่งเสริมการขายหรือชื่อแบรนด์เพื่อการแข่งขันหรือการจับสลากใดๆ อย่างเด็ดขาด</p>
              <p>7.  Affiliate จะต้องรับผิดชอบต่อ ทัวร์ริ่ง เซนเตอร์ ในการตรวจสอบเนื้อหาโฆษณาของตน ไม่ได้เป็นการละเมิดทรัพย์สินทางปัญญาของบุคคลที่สามทั้งในประเทศหรือต่างประเทศ หากตรวจสอบและพบเจอ Affiliate จะต้องรับผิดชอบค่าใช้จ่ายที่เกิดขึ้นจากเหตุดังกล่าวทั้งหมด</p>
              <p>8.  Affiliate จะต้องรับผิดชอบและชดเชยค่าใช้จ่ายให้แก่ ทัวร์ริ่ง เซนเตอร์ ซึ่งเป็นผลมาจากข้อเรียกร้องของบุคคลที่สามอันเนื่องมาจากการฝ่าฝืนสิทธิ์หรือข้อผูกมัดที่ได้กล่าวไว้ข้างตน โดยค่าใช้จ่ายดังกล่าวจะต้องรวมถึงค่าทนายความ ค่าธรรมเนียมศาล หรือค่าใช้จ่ายอื่นใดในการแก้ไขข้อขัดแย้งดังกล่าวทั้งหมด โดยอย่างยิ่งค่าใช้จ่ายในการดำเนินการอิสระตามกฎหมายในการหาหลักฐาน ค่าเสียหายและค่าเสียประโยชน์อื่นๆ ที่เกิดขึ้นกับ ทัวร์ริ่ง เซนเตอร์ จากเหตุดังกล่าว</p>
              <p>9.  Affiliate จะต้องถอดสื่อโฆษณาของ ทัวร์ริ่ง เซนเตอร์ อย่างทันท่วงทีหาก ทัวร์ริ่ง เซนเตอร์ ร้องขอให้ดำเนินการดังกล่าว</p>
              <p>10. หาก ทัวร์ริ่ง เซนเตอร์ ถูกฟ้องโดยบุคคลที่สามอันเนื่องมาจากการที่ Affiliate ละเมิดข้อผูกมัดตามสัญญา หรือเนื่องมาจากที่ Affiliate ฝ่าฝืนข้อกำหนดตามกฎหมาย Affiliate จำเป็นต้องจ่ายค่าชดเชยข้อเรียกร้องของบุคคลที่สามทั้งหมดซึ่งเป็นการอ้างสิทธิ์อันเนื่องมาจากการละเมิดดังกล่าวให้แก่ ทัวร์ริ่ง เซนเตอร์ หาก ทัวร์ริ่ง เซนเตอร์ กำหนดให้ Affiliate จัดเตรียมข้อมูลหรือคำอธิบายต่างๆ เพื่อให้ ทัวร์ริ่ง เซนเตอร์ ทำการป้องกันตัวในทางกฎหมาย Affiliate จำเป็นต้องดำเนินการดังกล่าวไม่เกิดระยะเวลา 3 วัน (นับจากวันที่ถูกฟ้อง) และให้สนับสนุน ทัวร์ริ่ง เซนเตอร์ อย่างเหมาะสมในการป้องกันตัวในทางกฎหมาย</p>
              <p>11. Affiliate จะต้องไม่ซื้อทัวร์ใดๆ ผ่านทางสื่อโฆษณาที่ ทัวร์ริ่ง เซนเตอร์ มอบให้ โดยมีวัตถุประสงค์ในการนำไปจำหน่ายซ้ำหรือใช้งานทางการค้าในลักษณะใดๆ</p>
              <p>12. ห้าม Affiliate ร้องขอหรือสนับสนุนให้เพื่อน ญาติ หรือผู้ร่วมงานของตนซื้อทัวร์ใดๆ ผ่านทางสื่อโฆษณาของ Affiliate ที่ทาง ทัวร์ริ่ง เซนเตอร์ มอบให้ โดยมีวัตถุประสงค์ในการนำไปจำหน่ายซ้ำหรือใช้งานทางการค้าในลักษณะใดๆ</p>
              <p>13. ในกรณีที่มีการผิดสัญญา การฉ้อโกง การฝ่าฝืนข้อตกลงที่ระบุไว้ในสัญญานี้ ทัวร์ริ่ง เซนเตอร์ ขอสงานสิทธิ์ที่จะปฏิเสธการชำระค่านายหน้าในจำนวนเงินดังต่อไปนี้ (1) จำนวนเงินที่ค้างชำระแก่ Affiliate (2) จำนวนเงินค่านายหน้าทั้งหมดในช่วงเวลาที่พบการผิดสัญญา (3) ค่านายหน้าที่ Affiliate ทำได้ในอนาคตที่สามารถพิสูจน์ได้ว่ามีที่มาจากการฝ่าฝืนสัญญา</p>
              <p>14. ทัวร์ริ่ง เซนเตอร์ มีสิทธิ์ที่จะเลิกสัญญาฉบับนี้โดยไม่ต้องแจ้งล่วงหน้าในกรณีที่ Affiliate ฝ่าฝืนหรือละเมิดหน้าที่หรือข้อกำหนดของตน ภายใต้สัญญาฉบับนี้</p>
            </div>

            <!-- 4. ความเป็นอิสระของ Affiliate -->
            <div>
              <p><b><u>ความเป็นอิสระของ Affiliate</u></b></p>
              <p>ทัวร์ริ่ง เซนเตอร์ และ Affiliate เป็นผู้ทำสัญญาที่เป็นอิสระจากกัน และการทำสัญญาฉบับนี้ไม่ก่อให้เกิดความสัมพันธ์ระหว่างคู่สัญญาในการเป็นห้างหุ้นส่วน การร่วมลงทุน ตัวแทน แฟรนไชส์หรือตัวแทนการขาย Affiliate ไม่มีอำนาจที่จะทำหรือยอมรับข้อเสนอใดๆ หรือการเป็นตัวแทนในนามของ ทัวร์ริ่ง เซนเตอร์</p>
            </div>

            <!-- 5. การจ่ายเงินค่านายหน้าให้ Affiliate -->
            <div>
              <p><b><u>การจ่ายเงินค่านายหน้าให้ Affiliate</u></b></p>
              <p>1.  ค่านายหน้า Affiliate จะได้รับจาก “ค่านายหน้า = ราคาทัวร์จากการจองสุทธิ x อัตราค่านายหน้า” (หากลูกค้ามีการยกเลิกหรือขอคืนเงิน ไม่ว่าจะกรณีใดๆ Affiliate จะไม่ได้รับค่านายหน้า ถือเป็นโมฆะ)</p>
              <p>2.  การตรวจสอบยอดค่านายหน้าของ Affiliate จะดำเนินการแล้วเสร็จภายในวันที่ 1-5 พร้อมกับส่งอีเมล์แจ้งเตือนไปให้ Affiliate เพื่อให้ตรวจสอบและ ทัวร์ริ่ง เซนเตอร์ จะโอนเงินค่านายหน้าไปให้ Affiliate ไม่เกินวันที่ 10 ของทุกเดือน หากตรวจสอบแล้วยอดไม่ตรงกันให้ Affiliate รีบติดต่อกลับไปยัง ทัวร์ริ่ง เซนเตอร์ ต่อสายกับฝ่าย Affiliate โดยทันทีไม่เกินวันที่ 8 ของเดือน</p>
              <p>3.  ขั้นต่ำในการจ่ายเงินค่านายหน้าให้ Affiliate จะต้องมียอดขั้นต่ำที่ 1,000 บาท หากมียอดไม่ถึง ยอดของเดือนนี้ทั้งหมดจะถูกนำไปรวมกับเดือนถัดไปหรือจนกว่ายอดขั้นต่ำจะครบหรือมากกว่า 1,000 บาท จึงจะถูกตัดยอดค่านายหน้าแล้ว ทัวร์ริ่ง เซนเตอร์ จะทำการนำจ่ายให้กับ Affiliate ในเดือนถัดไป</p>
              <p>4.  Affiliate มีหน้าที่รับผิดชอบในการจ่ายภาษีต่างๆ ที่เกี่ยวข้องกับรายได้ของ Affiliate แต่เพียงผู้เดียว ถ้าการจ่ายเงินใดๆ จะต้องหักภาษี ณ ที่จ่าย ทัวร์ริ่ง เซนเตอร์ จะหักภาษี ณ ที่จ่าย จากการจ่ายเงินดังกล่าวและจ่ายจำนวนเงินที่เหลือสุทธิให้แก่ Affiliate พร้อมกับให้ใบกำกับภาษีหรือเอกสารใดๆ ที่เกี่ยวข้องกับภาษีหัก ณ ที่จ่าย</p>
            </div>

            <!-- 6. การรักษาความลับ -->
            <div>
              <p><b><u>การรักษาความลับ</u></b></p>
              <p>1.  ทัวร์ริ่ง เซนเตอร์ ไม่มีสิทธิ์ในการเผยแพร่ข้อมูลของ Affiliate ทั้งข้อมูลที่เป็นเอกสาร กลยุทธ์ทางการตลาด แผนงาน ข้อมูลทางการเงิน ข้อมูลเชิงสถิติทั้งหมด วิธีปฏิบัติงาน การประมาณยอดขายและแผนธุรกิจทั้งของอดีต ปัจจุบันหรืออนาคต</p>
              <p>2.  ทัวร์ริ่ง เซนเตอร์ และ Affiliate ไม่มีสิทธิ์ที่จะเปิดเผยข้อมูลความลับของแต่ละฝ่ายให้แก่บุคคลที่สาม เว้นแต่ได้รับความยินยอมเป็นลายลักษณ์อักษรเท่านั้น</p>
              <p>3.  ข้อมูลความลับสามารถเปิดเผยได้เนื่องจากเหตุต่อไปนี้
                ข้อมูลที่เป็นสาธารณะ นอกจากเกิดจากการละเมิดข้อสัญญานี้
                สำหรับใช้ในการตุลาการหรือกระบวนการทางกฏหมายที่เกิดขึ้นจากสัญญาฉบับนี้
                เมื่อได้รับการร้องขอจากหน่วยงานของรัฐที่มีอำนาจหรือข้อบังคับของอำนาจตามกฎหมาย
                หน้าที่ในการไม่เปิดเผยข้อมูลจะบังคับใช้เป็นระยะเวลาไม่จำกัด แม้จะเกินระยะเวลาของสัญญาฉบับนี้
              </p>
            </div>

            <div>
              <p><b>หากมีข้อสงสัยใดๆ โปรดติดต่อทีม Affiliate ของ ทัวร์ริ่ง เซนเตอร์ ผ่านทางอีเมล <a href="mailto:affiliate@tourinchiangmai.com">affiliate@tourinchiangmai.com</a></b></p>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- back & next -->
    <div class="container">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <button mat-button (click)="windowBack()"><i class="fa fa-arrow-left" aria-hidden="true"></i> ย้อนกลับ</button>
        </div>
      </div>
    </div>
  </section>
</section>