<!-- Check permission -->
<app-permission-member></app-permission-member>

<!-- Menu bar -->
<app-menu-bar-member></app-menu-bar-member>

<!-- Content -->
<section id="main-content" class="panel-block-1">
  <section class="wrapper">

    <!-- Form block -->
    <div class="container content-block">
      <h3 class="block-header">ขั้นตอนที่ 4 : <span class="sub-header">ตรวจสอบและยืนยันการขอเข้าร่วม Affiliate</span></h3>
      <div class="content-main-block">

        <!-- Personal -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content-block">
          <h4><u>ข้อมูลส่วนตัว</u></h4>
          <table class="table-block">
            <tr>
              <th>ชื่อ-นามสกุล</th>
              <td>: {{memberData.personalInfo.fullname}}</td>
            </tr>
            <tr>
              <th>วัน/เดือน/ปีเกิด</th>
              <td>: {{memberData.personalInfo.birth}}</td>
            </tr>
            <tr>
              <th>เบอร์โทรศัพท์</th>
              <td>: {{memberData.personalInfo.tel}}</td>
            </tr>
            <tr>
              <th>อีเมล</th>
              <td>: {{memberData.personalInfo.email}}</td>
            </tr>
            <tr>
              <th>สัญชาติ</th>
              <td>: {{memberData.personalInfo.nationality}}</td>
            </tr>
            <tr>
              <th>ที่อยู่</th>
              <td>: {{memberData.personalInfo.address}}</td>
            </tr>
            <tr>
              <th>เลขประจำตัวประชาชน</th>
              <td>: {{memberData.personalInfo.idNumber}}</td>
            </tr>
            <!-- <tr>
              <th>รูปถ่าย</th>
              <td>: {{memberData.personalInfo.profilePicture}}</td>
            </tr>
            <tr>
              <th>สำเนาบัตรประชาชน</th>
              <td>: {{memberData.personalInfo.copyIdCard}}</td>
            </tr> -->
          </table>
        </div>

        <!-- Bank -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content-block">
          <h4><u>ข้อมูลบัญชีธนาคาร</u></h4>
          <table class="table-block">
            <tr>
              <th>ธนาคาร</th>
              <td>: {{memberData.bankInfo.bank.bankTH}}</td>
            </tr>
            <tr>
              <th>ชื่อบัญชี</th>
              <td>: {{memberData.bankInfo.accountName}}</td>
            </tr>
            <tr>
              <th>หมายเลขบัญชี</th>
              <td>: {{memberData.bankInfo.accountNo}}</td>
            </tr>
            <!-- <tr>
              <th>สำเนาสมุดบัญชี</th>
              <td>: {{memberData.bankInfo.copyBook}}</td>
            </tr> -->
          </table>
        </div>

        <!-- URL -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content-block">
          <h4><u>ช่องทางการโฆษณา</u></h4>
          <table class="table-block">
            <tr>
              <th style="vertical-align: top;">ช่องทางโฆษณา</th>
              <td>: {{memberData.adsInfo.url1}}</td>
            </tr>
            <tr *ngIf="memberData.adsInfo.url2!=''">
              <th></th>
              <td>: {{memberData.adsInfo.url2}}</td>
            </tr>
            <tr *ngIf="memberData.adsInfo.url3!=''">
              <th></th>
              <td>: {{memberData.adsInfo.url3}}</td>
            </tr>
          </table>
        </div>

        <!-- Term, Condition, Policy -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 policy-block">
          <p>
            <mat-checkbox [(ngModel)]="agree" (change)="agrees()"></mat-checkbox> 
            โปรด
            <span class="read-policy" data-toggle="modal" data-target="#policy-modal"><b>อ่าน</b></span>
            แล้วยอมรับเงื่อนไขและข้อตกลงของเรา
          </p>
        </div>

        <!-- Join button -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 join-block">
          <button mat-raised-button color="warn" [disabled]="agree==false" (click)="submitJoinAffiliate()">ยืนยันการขอเข้าร่วม Affiliate</button>
        </div>

      </div>
    </div>

    <!-- Modal popup term & condition & policy -->
    <div id="policy-modal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p>ข้อตกลงและเงื่อนไข</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- back & next -->
    <div class="container">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <button mat-button (click)="windowBack()"><i class="fa fa-arrow-left" aria-hidden="true"></i> ย้อนกลับ</button>
        </div>
      </div>
    </div>
  </section>
</section>