<app-header></app-header>
<main role="main" id=" main-wrapper">    
    <!-- section one -->
    <section class="section-two tripbox" id="section-two">
        <app-trips></app-trips>
        <!-- <app-video></app-video> -->
        <!-- <app-feedback></app-feedback> -->
    </section>
    
    <!-- section-two -->
    <app-service></app-service>

    <!-- section three -->
    <!-- <app-package></app-package> -->

    <!-- section-four -->
    <app-team></app-team>
  
    <!-- section-five -->
    <!-- <app-subscribe></app-subscribe> -->

     <!-- section-six -->
    <app-question></app-question>

    <app-map></app-map>

    <!-- footer -->
    <app-footer></app-footer>
</main>