<div class="container booked-header-block">
  <h2 class="text-center">BOOKED&nbsp; STATISTICS</h2>
</div>
<div class="container">
  <table class="table table-bordered">

    <!-- Table Header -->
    <tr class="font-table-13px">
      <th class="text-center bg-info text-light">No.</th>
      <th class="text-center bg-info text-light">Inv No.</th>
      <th class="text-center bg-info text-light">Tour Name</th>
      <th class="text-center bg-info text-light">Privacy</th>
      <th class="text-center bg-info text-light">Pax</th>
      <th class="text-center bg-info text-light">Guest</th>
      <th class="text-center bg-info text-light">Hotel</th>
      <!-- <th class="text-center bg-info text-light">Room</th> -->
      <th class="text-center bg-secondary text-light">Booking</th>
      <th class="text-center bg-secondary text-light">Invoice</th>
      <th class="text-center bg-dark text-light">Edit</th>
    </tr>
    <!-- Table Body -->
    <tr *ngFor="let booked of _getBookingStatistics; let i = index;" class="font-table-12px">
      <!-- <td class="text-center">{{i+1}}</td> -->
      <td class="text-center">{{_getBookingStatistics.length-i}}</td>
      <td>{{booked.invoiceId}}</td>
      <td title="{{booked.tourFullname}}">{{booked.tourName}}</td>
      <td class="text-center">{{booked.tourPrivacy}}</td>
      <td class="text-center">{{booked.tourPax}}</td>
      <td>{{booked.guestName}}</td>
      <td>{{booked.hotel}}</td>
      <!-- <td>{{booked.hotelRoom}}</td> -->
      <td class="text-center table-valign-mid">
        <a href="/#/bookingform/{{booked.transactionId}}" target="_blank">
          <i class="fa fa-file font-table-1-5em" aria-hidden="true"></i>
        </a>
      </td>
      <td class="text-center table-valign-mid">
        <a href="/#/invoice/{{booked.transactionId}}" target="_blank">
          <i class="fa fa-file-text font-table-1-5em"></i>
        </a>
      </td>
      <td class="text-center table-valign-mid">
        <a href="/#/bookingform/edit/{{booked.transactionId}}" target="_blank">
          <i class="fa fa-pencil-square-o font-table-1-5em"></i>
        </a>
      </td>
    </tr>
  </table>

</div>