.table-valign-mid{
    vertical-align: middle;
}
.booked-header-block{
    margin-top: 30px;
    margin-bottom: 30px;
}
.font-table-13px{
    font-size: 13px !important;
}
.font-table-12px{
    font-size: 12px !important;
}
.font-table-1-5em{
    font-size: 1.5em !important;
}