<div class="market-trips-section">
  <!-- adventure content -->
    <app-recommend></app-recommend>
    <!-- <app-adventure></app-adventure> -->
    
    <!--devider  -->
    <div class="clearfix"></div>
    <hr class="hr-divider">
    
    <!-- elephant content -->
    <!-- <app-elephant></app-elephant> -->
    
    <!-- devider -->
    <!-- <div class="clearfix"></div> -->
    <!-- <hr class="hr-divider"> -->

    <!-- culture-content -->
    <!-- <app-culture></app-culture> -->

    <!-- <div class="clearfix"></div>             -->
    <!-- <hr class="hr-divider"> -->
</div>