<aside id="sidebar-block">
  <div id="sidebar"  class="nav-collapse ">
      <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><img src="./assets/images/logo/logo-daytrip-join.jpg" class="img-circle" width="100"></p>
          <h5 class="centered">Reservation</h5>
          <li class="mt">
              <a class="sidebar-active" href="/#/reservationsummary">
                  <i class="fa fa-desktop"></i>
                  <span>Booking Table {{activeSideNav}}</span>
              </a>
          </li>
          <li class="">
              <a class="sidebar-active" href="/#/reservation">
                  <i class="fa fa-book"></i>
                  <span>Add booking</span>
              </a>
          </li>
          <!-- <li class="sub-menu">
              <a href="javascript:;" >
                  <i class="fa fa-desktop"></i>
                  <span>Reservation</span>
                  <i class="fa fa-angle-down" style="float:right;"></i>
              </a>
              <ul class="sub">
                  <li><a href="/#/reservation">Add book</a></li>
                  <li><a href="/#/booked-statistics">Check book</a></li>
              </ul>
          </li> -->
          <!-- <li class="sub-menu">
              <a href="javascript:;" >
                  <i class="fa fa-book"></i>
                  <span>Print Book</span>
                  <i class="fa fa-angle-down" style="float:right;"></i>
              </a>
              <ul class="sub">
                  <li><a href="/#/bookingform">Booking Form</a></li>
                  <li><a href="/#/invoice">Invoice</a></li>
              </ul>
          </li> -->
      </ul>
  </div>
</aside>