.base-chart{
    width: 600px !important;
    height: auto !important;
}
.panel-block-1{
    padding-top: 40px;
}
.panel-block-2{
    padding-top: 10px;
}
// panel 1
.panel-content-block-1{
    border: 1px solid #272727;
}
.panel-content-1{
    min-height: 125px;
    background: #4e4e4e !important;
    border: 0px;
    color: #ffffff;
}
.panel-footer-1{
    border: 0px !important;
    background: #4e4e4e !important;
    text-align: right;
    font-size: 14px;
    color: #ffffff;
    border-top: 1px solid #292929 !important;
}
.panel-content-left-1{
    width: 50%;
    float: left;
    height: auto;
    text-align: center;
}
.panel-content-right-1{
    width: 50%;
    float: right;
    text-align: right;
    font-size: 20px;
    min-height: 95px;
}

// panel 2
.panel-content-block-2{
    border: 1px solid #00294c;
}
.panel-content-2{
    min-height: 125px;
    background: #0f4675 !important;
    border: 0px;
    color: #ffffff;
}
.panel-footer-2{
    border: 0px !important;
    background: #0f4675 !important;
    text-align: right;
    font-size: 14px;
    color: #ffffff;
    border-top: 1px solid #062138 !important;
}
.panel-content-left-2{
    width: 50%;
    float: left;
    height: auto;
    text-align: center;
}
.panel-content-right-2{
    width: 50%;
    float: right;
    text-align: right;
    font-size: 20px;
    min-height: 95px;
}

// panel 3
.panel-content-block-3{
    border: 1px solid #611512;
}
.panel-content-3{
    min-height: 125px;
    background: #af302c !important;
    border: 0px;
    color: #ffffff;
}
.panel-footer-3{
    border: 0px !important;
    background: #af302c !important;
    text-align: right;
    font-size: 14px;
    color: #ffffff;
    border-top: 1px solid #750f0f !important;
}
.panel-content-left-3{
    width: 50%;
    float: left;
    height: auto;
    text-align: center;
}
.panel-content-right-3{
    width: 50%;
    float: right;
    text-align: right;
    font-size: 20px;
    min-height: 95px;
}

// panel 4
.panel-content-block-4{
    border: 1px solid #2a8c2a;
}
.panel-content-4{
    min-height: 125px;
    background: #2a8c2a !important;
    border: 0px;
    color: #ffffff;
}
.panel-footer-4{
    border: 0px !important;
    background: #2a8c2a !important;
    text-align: right;
    font-size: 14px;
    color: #ffffff;
    border-top: 1px solid #2e6f2e !important;
}

.panel-content-left-4{
    width: 50%;
    float: left;
    height: auto;
    text-align: center;
}
.panel-content-right-4{
    width: 50%;
    float: right;
    text-align: right;
    font-size: 20px;
    min-height: 95px;
}

