<section class="culture-container">
    <div class="col-xs-12 col-sm-7 col-md-7">
        <article>
            <h2>Lanna Fantasitc Culture</h2>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo orta felis euismod semper.Maecenas
                sed diam eget risus varius blandit sit amet non magna. Morbi leo orta felis euismod semper.</p>
            <ul>
                <li>Daytrip1: Shor description </li>
                <li>Daytrip2: Shor description </li>
                <li>Daytrip3: Shor description</li>
                <li>Daytrip4: Shor description</li>
            </ul>
            <!-- <div class="section-joinnow">
                <a class="btn btn-info"> join now!</a>
            </div> -->
        </article>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-">                 
        <div class="slider-container ">
                <div class="culture-slider">
                        <div class="thumbnail shadow">
                            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="assets/images/cultures/tc-cultural-500-2.jpeg" data-holder-rendered="true" />
                            <p class="slider-text">
                                1.Nostrud labore sit ullamco dolor elit quis ad ullamco veniam non. Esse veniam deserunt esse pariatur. Nisi voluptate mollit proident consequat ut ipsum eiusmod mollit minim.
                            </p>
                        </div>
                        <div class="thumbnail shadow">                                        
                                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="assets/images/cultures/tc-cultural-500-3.jpeg" data-holder-rendered="true" />
                                <p class="slider-text">
                                    2.Nostrud labore sit ullamco dolor elit quis ad ullamco veniam non. Esse veniam deserunt esse pariatur. Nisi voluptate mollit proident consequat ut ipsum eiusmod mollit minim.
                                </p>
                        </div>

                        <div class="thumbnail shadow">
                            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="assets/images/cultures/tc-cultural-500-4.jpeg" data-holder-rendered="true" />
                            <p class="slider-text">
                                3.Nostrud labore sit ullamco dolor elit quis ad ullamco veniam non. Esse veniam deserunt esse pariatur. Nisi voluptate mollit proident consequat ut ipsum eiusmod mollit minim.
                            </p>
                        </div>

                        <div class="thumbnail shadow">
                            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="assets/images/cultures/tc-cultural-500-5.jpeg" data-holder-rendered="true" />
                            <p class="slider-text">
                                4.Nostrud labore sit ullamco dolor elit quis ad ullamco veniam non. Esse veniam deserunt esse pariatur. Nisi voluptate mollit proident consequat ut ipsum eiusmod mollit minim.
                            </p>
                        </div>

                        <div class="thumbnail shadow">
                                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="assets/images/cultures/tc-cultural-500-6.jpeg" data-holder-rendered="true" />
                                <p class="slider-text">
                                    4.Nostrud labore sit ullamco dolor elit quis ad ullamco veniam non. Esse veniam deserunt esse pariatur. Nisi voluptate mollit proident consequat ut ipsum eiusmod mollit minim.
                                </p>
                            </div>
                    </div>                            
        </div>                     
    </div>                
</section>  