<div class="gallery-container">
    <div class="contentWrap inner wrapper">
      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5 masonry">
        <li class="masonry-item grid wow fadeInUp">         
          <figure class="effect-sarah bloxPopup" data-id="1" data-src="https://www.youtube.com/watch?v=U9zFfIww3Go">
            <img alt="" src="assets/images/cultures/tc-cultural-500-2.jpeg">            
            <figcaption>
              <h5>video title</h5> 
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
              <span class="video-button">                
                  <i aria-hidden="true" class="fa fa-caret-right"></i>
              </span>
            </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid wow fadeInUp">
            <figure class="effect-sarah bloxPopup" data-id="1" data-src="https://www.youtube.com/watch?v=U9zFfIww3Go">
              <img alt="" src="assets/images/cultures/tc-cultural-500-3.jpeg">
              <figcaption>
                  <h5>video title</h5> 
                  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                  <span class="video-button">                
                      <i aria-hidden="true" class="fa fa-caret-right"></i>
                  </span>
                </figcaption>
            </figure>
          </li>
          <li class="masonry-item grid wow fadeInUp">
              <figure class="effect-sarah bloxPopup" data-id="1" data-src="https://www.youtube.com/watch?v=U9zFfIww3Go">
                <img alt="" src="assets/images/cultures/tc-cultural-500-4.jpeg">
                <figcaption>
                    <h5>video title</h5> 
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                    <span class="video-button">                
                        <i aria-hidden="true" class="fa fa-caret-right"></i>
                    </span>
                  </figcaption>
              </figure>
            </li>
            <li class="masonry-item grid wow fadeInUp">
                <figure class="effect-sarah bloxPopup" data-id="1" data-src="https://www.youtube.com/watch?v=U9zFfIww3Go">
                  <img alt="" src="assets/images/cultures/tc-cultural-500-5.jpeg">
                  <figcaption>
                      <h5>video title</h5> 
                      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                      <span class="video-button">                
                          <i aria-hidden="true" class="fa fa-caret-right"></i>
                      </span>
                    </figcaption>
                </figure>
              </li>
      </ul>
    </div>
  </div>