.inv-table{
    width: 100%;
}
.inv-head-table{
    margin-top: 5px;
    margin-bottom: 5px;
}
.inv-table-content{
    width: 100%;
    padding: 0 15px;
    // margin: 0 20px;
}
.inv-table-content tr td{
    padding: 3px;
    vertical-align: top;
}
.inv-table-content tr th{
    padding: 3px;
    vertical-align: top;
}