<!-- Check permission -->
<app-permission-admin></app-permission-admin>

<!-- Menu bar -->
<app-menu-bar-admin></app-menu-bar-admin>
<!-- Side bar -->
<app-menu-sidebar-admin></app-menu-sidebar-admin>

<!-- Content -->
<section id="main-content" class="panel-block-1">
    <section class="wrapper">
        <!-- Graf -->
        <div class="container">
            <h3 class="dashboard-header">Delete user <i class="fa fa-minus-circle" aria-hidden="true"></i></h3>
            <div class="block-content">
                <input type="text" class="form-control" placeholder="Email" [(ngModel)]="deleteUser.username" disabled>
            </div>
        </div>
    </section>
</section>