    <!-- adventure-content -->
    <section class="adventure-container">
      <div class="col-xs-12 col-sm-7 col-md-7">
          <article>
              <h2>Exciting adventure with us today.</h2>
              <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo orta felis euismod semper.Maecenas
                  sed diam eget risus varius blandit sit amet non magna. Morbi leo orta felis euismod semper.</p>
              <ul>
                  <li><a alt="Join Now!" class="hvr-underline-from-center" routerLink="fantastic">Trekking Doi Suthep.</a></li>
                  <li><a alt="Join Now!" class="hvr-underline-from-center" routerLink="fantastic">Kiew mae pan </a> </li>
                  <li><a alt="Join Now!" class="hvr-underline-from-center" routerLink="/fantastic">Breath of nature(AM)</a> </li>
                  <li><a alt="Join Now!" class="hvr-underline-from-center" routerLink="/fantastic">Breath of nature(PM)</a></li>
              </ul>
              <!-- <div class="section-joinnow">
                  <a class="btn btn-info"> join now!</a>
              </div> -->
          </article>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-">
           <!-- <figure class="row" style="background-image:url('http://placehold.it/1600x800')"></figure> -->
          <div class="slider-container ">
                  <div class="adventures-slider">
                          <div class="thumbnail shadow">
                              <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="assets/images/adventures/tc-adventure-1.jpg" data-holder-rendered="true" />
                              <p class="slider-text">
                                  Nostrud labore sit ullamco dolor elit quis ad ullamco veniam non. Esse veniam deserunt esse pariatur. Nisi voluptate mollit proident consequat ut ipsum eiusmod mollit minim.
                              </p>
                          </div>
                          <div class="thumbnail shadow">                                        
                                  <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="assets/images/adventures/tc-adventure-2.jpg" data-holder-rendered="true" />
                                  <p class="slider-text">
                                      Nostrud labore sit ullamco dolor elit quis ad ullamco veniam non. Esse veniam deserunt esse pariatur. Nisi voluptate mollit proident consequat ut ipsum eiusmod mollit minim.
                                  </p>
                          </div>

                          <div class="thumbnail shadow">
                              <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="assets/images/adventures/tc-adventure-3.jpg" data-holder-rendered="true" />
                              <p class="slider-text">
                                  Nostrud labore sit ullamco dolor elit quis ad ullamco veniam non. Esse veniam deserunt esse pariatur. Nisi voluptate mollit proident consequat ut ipsum eiusmod mollit minim.
                              </p>
                          </div>

                          <div class="thumbnail shadow">
                              <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="assets/images/adventures/tc-adventure-4.jpg" data-holder-rendered="true" />
                              <p class="slider-text">
                                  Nostrud labore sit ullamco dolor elit quis ad ullamco veniam non. Esse veniam deserunt esse pariatur. Nisi voluptate mollit proident consequat ut ipsum eiusmod mollit minim.
                              </p>
                          </div>
                      </div>                            
          </div>                     
      </div>                
  </section> 
  <!-- adventure-content -->