<!-- check user -->
<!-- <app-session-login></app-session-login> -->

<header class="header black-bg" id="header-block">
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right"></div>
    </div>
    <a href="/#/user/reservations" class="logo"><b>Touring Center</b></a>

    <div id="top_menu" class="pull-right">
        <div class="nav top-menu">
            <ul class="nav top-menu">
                <li><a class="logout" href="/#/user/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</header>

<aside id="sidebar-block">
    <div id="sidebar"  class="nav-collapse ">
        <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered"><img src="./assets/images/logo/logo-daytrip-join.jpg" class="img-circle" width="100"></p>
            <h5 class="centered">Reservation</h5>
            <li class="mt">
                <a class="sidebar-active" href="/#/user/reservations/booked">
                    <i class="fa fa-desktop"></i>
                    <span>Booking Table {{activeSideNav}}</span>
                </a>
            </li>
            <li class="">
                <a class="sidebar-active" href="/#/user/reservations/book-form-add">
                    <i class="fa fa-book"></i>
                    <span>Add booking</span>
                </a>
            </li>
            <!-- <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-desktop"></i>
                    <span>Reservation</span>
                    <i class="fa fa-angle-down" style="float:right;"></i>
                </a>
                <ul class="sub">
                    <li><a href="/#/user/reservation">Add book</a></li>
                    <li><a href="/#/user/booked-statistics">Check book</a></li>
                </ul>
            </li> -->
            <!-- <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-book"></i>
                    <span>Print Book</span>
                    <i class="fa fa-angle-down" style="float:right;"></i>
                </a>
                <ul class="sub">
                    <li><a href="/#/user/bookingform">Booking Form</a></li>
                    <li><a href="/#/user/invoice">Invoice</a></li>
                </ul>
            </li> -->
        </ul>
    </div>
  </aside>