<!-- Check permission -->
<app-permission-member></app-permission-member>

<!-- Check request affiliate -->
<!-- <app-check-request-affiliate-member></app-check-request-affiliate-member> -->

<!-- Menu bar -->
<app-menu-bar-member></app-menu-bar-member>

<!-- Content -->
<section id="main-content" class="panel-block-1">
  <section class="wrapper">
    <!-- Graf -->
    <div class="container">
      <h3 class="block-header">เข้าร่วมเป็น Affiliate กับเรา</h3>
      <div style="margin:auto; margin-top:30px;width:80% !important;">

        <!-- Affiliate program -->
        <div class="content-block">
          <h4 class="content-header">Touring Center Affiliate Program?</h4>
          <p class="content-paragraph">ทัวร์ริ่ง เซนเตอร์ ได้จัดหาตัวเลือกที่นำมาซึ่งรายได้ของคุณ โดยเราจะมีลิงค์และแบนเนอร์ให้คุณตามโปรแกรมหลากหลายโปรแกรม คุณจะได้รับค่าคอมมิชชั่นจากการขาย (หลังการเดินทาง) สูงสุดถึง 10% จากการจองและจ่ายเงินผ่านช่องทางของคุณ</p>
        </div>

        <!-- Cookies -->
        <div class="content-block">
          <h4 class="content-header">การเก็บคุ้กกี้</h4>
          <p class="content-paragraph">หลังจากที่ลูกค้าคลิกสื่อโฆษณาของคุณเข้ามายังเว็บไซต์ แต่ยังไม่ได้ทำการจองทัวร์หรือทำการจองยังไม่เสร็จสมบูรณ์ เรายังเก็บคุ้กกี้ให้คุณเป็นระยะเวลานานถึง 30 วัน (หลังจากที่ลูกค้าคลิกเข้ามา) เพื่อให้คุณได้รับผลประโยชน์สูงสุด</p>
        </div>

        <!-- Work in affiliate program -->
        <div class="content-block">
          <h4 class="content-header">การทำงานของ Affiliate program</h4>
          <ul>
            <li>- สื่อโฆษณาของทัวร์ริ่ง เซนเตอร์</li>
            <li>- คลิกสื่อโฆษณา</li>
            <li>- เข้ามายังเว็บไซต์ทัวร์ริ่ง เซนเตอร์</li>
            <li>- จองทัวร์ภายใน 30 วัน</li>
            <li>- ลูกค้าชำระเงิน</li>
            <li>- ลูกค้าออกเดินทาง</li>
            <li>- ท่านได้รับค่าคอมมิชชั่น</li>
          </ul>
        </div>

        <!-- How to join -->
        <div class="content-block">
          <h4 class="content-header">วิธีการเข้าร่วมกับเรา</h4>
          <ul>
            <li>- อ่านเงื่อนไข ข้อตกลงและนโนบายความเป็นส่วนตัว</li>
            <li>- กรอกข้อมูลประวัติส่วนตัวของท่าน</li>
            <li>- กรอกข้อมูลบัญชีธนาคารของท่าน</li>
            <li>- กรอกข้อมูลช่องทางในการโปรโมทของท่าน (เว็บไซต์, แฟนเพจ,...)</li>
            <li>- ตรวจสอบข้อมูล อ่านเงื่อนไขและยอมรับเงื่อนไขอีกครั้ง</li>
            <li>- รอการอนุมัติการสมัครภายใน 7 วัน</li>
          </ul>
        </div>

        <!-- condition & policy -->
        <div class="content-block">
          <h4 class="content-header">ข้อตกลง เงื่อนไขและนโยบายความเป็นส่วนตัว</h4>
          <ul>
            <li>- อ่าน <span data-toggle="modal" data-target="#affiliate-condition-modal" class="affiliate-condition-link"><u>ข้อตกลงและเงื่อนไข</u></span></li>
          </ul>

          <!-- modal condition & policy -->
          <div id="affiliate-condition-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <h4 style="text-align: center; margin: 10px 0 40px 0;">ข้อตกลงและเงื่อนไขทั่วไปสำหรับตัวแทนโฆษณา (Affiliate)</h4>

                  <!-- 1. การก่อให้เกิดสัญญา -->
                  <div>
                    <p><b><u>การก่อให้เกิดสัญญา</u></b></p>
                    <p>สัญญาระหว่าง ทัวร์ริ่ง เซนเตอร์ และ Affiliate ในด้านการวางสื่อโฆษณาจะต้องผ่านทางกระบวนการสมัครใช้งานแพลตฟอร์มของ ทัวร์ริ่ง เซนเตอร์ เท่านั้น ด้วยเหตุนี้ Affiliate จำเป็นต้องอ่านข้อกำหนดและเงื่อนไขในการสมัครรวมถึงสัญญาฉบับนี้และยอมรับการเข้าร่วมเป็น Affiliate ภายใต้ข้อกำหนดและเงื่อนไขที่ระบุไว้</p>
                  </div>

                  <!-- 2. ขอบเขตของงาน -->
                  <div>
                    <p><b><u>ขอบเขตของงาน</u></b></p>
                    <p>1.  การเข้าร่วม Affiliate program และส่งเสริมการขายของ ทัวร์ริ่ง เซนเตอร์ โดย Affiliate เป็นตัวแทนโฆษณาเท่านั้น</p>
                    <p>2.  Affiliate สามารถเลือกโปรแกรมทัวร์ของ ทัวร์ริ่ง เซนเตอร์ เพื่อใช้โฆษณาได้</p>
                    <p>3.  Affiliate สามารถใช้ช่องทางใดก็ได้ในการโฆษณา แต่ต้องอยู่ภายใต้เงื่อนไขที่ทาง ทัวร์ริ่ง เซนเตอร์ กำหนดเอาไว้</p>
                  </div>

                  <!-- 3. ข้อผูกมัดและข้อตกลงของ Affiliate -->
                  <div>
                    <p><b><u>ข้อผูกมัดและข้อตกลงของ Affiliate</u></b></p>
                    <p>1.  Affiliate ห้ามแก้ไขสื่อโฆษณาและเนื้อหา ที่ผิดเพี้ยนไปจากโปรแกรมทัวร์ของ ทัวร์ริ่ง เซนเตอร์ ยกเว้นแต่จะมีการกำหนดในสัญญาว่าสามารถแก้ไขข้อมูลได้</p>
                    <p>2.  ห้าม Affiliate โฆษณาเนื้อหาและภาพประกอบในทางที่ไม่เหมาะสม เช่น ทางเพศและลามกอนาจาร ข้อความหลอกลวง หรือเนื้อหาที่เป็นการเลือกปฏิบัติ (ด้านเพศ เชื้อชาติ การเมือง ศาสนา สัญชาติ ความพิการหรือการดูหมิ่นต่างๆ) หากมีการฟ้องร้อง Affiliate จะต้องรับผิดชอบค่าใช้จ่ายที่เกิดขึ้นจากเหตุดังกล่าวทั้งหมด</p>
                    <p>3.  ห้าม Affiliate สร้างหรือตั้งเว็บไซต์/เฟสบุ๊ค/ไลน์/ยูทูป/อื่นๆ ที่อาจเพิ่มความสับสนในการนำเสนอ โดยที่มีเนื้อหารูปภาพและการแสดงผลต่างๆ ที่เหมือนกับเว็บไซต์/เฟสบุ๊ค/ไลน์/ยูทูป/อื่นๆ จริงของ ทัวร์ริ่ง เซนเตอร์ ซึ่งอาจทำให้เกิดการละเมิดหรือแอบอ้างว่าตนเองเป็น ทัวร์ริ่ง เซนเตอร์ หากตรวจสอบและพบเจอ Affiliate จะต้องรับผิดชอบค่าใช้จ่ายที่เกิดขึ้นจากเหตุดังกล่าวทั้งหมด</p>
                    <p>4.  การทำโฆษณาบนเว็บไซต์ของ Affiliate จะต้องเห็นได้ชัดเจน ห้ามมิให้ Affiliate ใช้แอดออน ไอเฟรม ป๊อบอัพหรืออื่นๆ ที่จะเป็นการหลอกให้ผู้ใช้งานเข้าไปเพื่อหวังเก็บคุกกี้โดยที่ผู้ใช้งานไม่ได้สมัครใจและตั้งใจที่จะคลิกเข้าไปเอง</p>
                    <p>5.  ห้าม Affiliate ใช้การโฆษณาของ ทัวร์ริ่ง เซนเตอร์ เพื่อใช้ในการโฆษณาแอบแฝงหรือไปยังบุคคลที่สาม ซึ่งก็คือห้ามมิให้ Affiliate ใช้ ทัวร์ริ่ง เซนเตอร์ เพื่อเป็นโฆษณาให้บริษัทหรือแพรตฟอร์มอื่นๆ</p>
                    <p>6.  ห้าม Affiliate สื่อส่งเสริมการขายหรือชื่อแบรนด์เพื่อการแข่งขันหรือการจับสลากใดๆ อย่างเด็ดขาด</p>
                    <p>7.  Affiliate จะต้องรับผิดชอบต่อ ทัวร์ริ่ง เซนเตอร์ ในการตรวจสอบเนื้อหาโฆษณาของตน ไม่ได้เป็นการละเมิดทรัพย์สินทางปัญญาของบุคคลที่สามทั้งในประเทศหรือต่างประเทศ หากตรวจสอบและพบเจอ Affiliate จะต้องรับผิดชอบค่าใช้จ่ายที่เกิดขึ้นจากเหตุดังกล่าวทั้งหมด</p>
                    <p>8.  Affiliate จะต้องรับผิดชอบและชดเชยค่าใช้จ่ายให้แก่ ทัวร์ริ่ง เซนเตอร์ ซึ่งเป็นผลมาจากข้อเรียกร้องของบุคคลที่สามอันเนื่องมาจากการฝ่าฝืนสิทธิ์หรือข้อผูกมัดที่ได้กล่าวไว้ข้างตน โดยค่าใช้จ่ายดังกล่าวจะต้องรวมถึงค่าทนายความ ค่าธรรมเนียมศาล หรือค่าใช้จ่ายอื่นใดในการแก้ไขข้อขัดแย้งดังกล่าวทั้งหมด โดยอย่างยิ่งค่าใช้จ่ายในการดำเนินการอิสระตามกฎหมายในการหาหลักฐาน ค่าเสียหายและค่าเสียประโยชน์อื่นๆ ที่เกิดขึ้นกับ ทัวร์ริ่ง เซนเตอร์ จากเหตุดังกล่าว</p>
                    <p>9.  Affiliate จะต้องถอดสื่อโฆษณาของ ทัวร์ริ่ง เซนเตอร์ อย่างทันท่วงทีหาก ทัวร์ริ่ง เซนเตอร์ ร้องขอให้ดำเนินการดังกล่าว</p>
                    <p>10. หาก ทัวร์ริ่ง เซนเตอร์ ถูกฟ้องโดยบุคคลที่สามอันเนื่องมาจากการที่ Affiliate ละเมิดข้อผูกมัดตามสัญญา หรือเนื่องมาจากที่ Affiliate ฝ่าฝืนข้อกำหนดตามกฎหมาย Affiliate จำเป็นต้องจ่ายค่าชดเชยข้อเรียกร้องของบุคคลที่สามทั้งหมดซึ่งเป็นการอ้างสิทธิ์อันเนื่องมาจากการละเมิดดังกล่าวให้แก่ ทัวร์ริ่ง เซนเตอร์ หาก ทัวร์ริ่ง เซนเตอร์ กำหนดให้ Affiliate จัดเตรียมข้อมูลหรือคำอธิบายต่างๆ เพื่อให้ ทัวร์ริ่ง เซนเตอร์ ทำการป้องกันตัวในทางกฎหมาย Affiliate จำเป็นต้องดำเนินการดังกล่าวไม่เกิดระยะเวลา 3 วัน (นับจากวันที่ถูกฟ้อง) และให้สนับสนุน ทัวร์ริ่ง เซนเตอร์ อย่างเหมาะสมในการป้องกันตัวในทางกฎหมาย</p>
                    <p>11. Affiliate จะต้องไม่ซื้อทัวร์ใดๆ ผ่านทางสื่อโฆษณาที่ ทัวร์ริ่ง เซนเตอร์ มอบให้ โดยมีวัตถุประสงค์ในการนำไปจำหน่ายซ้ำหรือใช้งานทางการค้าในลักษณะใดๆ</p>
                    <p>12. ห้าม Affiliate ร้องขอหรือสนับสนุนให้เพื่อน ญาติ หรือผู้ร่วมงานของตนซื้อทัวร์ใดๆ ผ่านทางสื่อโฆษณาของ Affiliate ที่ทาง ทัวร์ริ่ง เซนเตอร์ มอบให้ โดยมีวัตถุประสงค์ในการนำไปจำหน่ายซ้ำหรือใช้งานทางการค้าในลักษณะใดๆ</p>
                    <p>13. ในกรณีที่มีการผิดสัญญา การฉ้อโกง การฝ่าฝืนข้อตกลงที่ระบุไว้ในสัญญานี้ ทัวร์ริ่ง เซนเตอร์ ขอสงานสิทธิ์ที่จะปฏิเสธการชำระค่านายหน้าในจำนวนเงินดังต่อไปนี้ (1) จำนวนเงินที่ค้างชำระแก่ Affiliate (2) จำนวนเงินค่านายหน้าทั้งหมดในช่วงเวลาที่พบการผิดสัญญา (3) ค่านายหน้าที่ Affiliate ทำได้ในอนาคตที่สามารถพิสูจน์ได้ว่ามีที่มาจากการฝ่าฝืนสัญญา</p>
                    <p>14. ทัวร์ริ่ง เซนเตอร์ มีสิทธิ์ที่จะเลิกสัญญาฉบับนี้โดยไม่ต้องแจ้งล่วงหน้าในกรณีที่ Affiliate ฝ่าฝืนหรือละเมิดหน้าที่หรือข้อกำหนดของตน ภายใต้สัญญาฉบับนี้</p>
                  </div>

                  <!-- 4. ความเป็นอิสระของ Affiliate -->
                  <div>
                    <p><b><u>ความเป็นอิสระของ Affiliate</u></b></p>
                    <p>ทัวร์ริ่ง เซนเตอร์ และ Affiliate เป็นผู้ทำสัญญาที่เป็นอิสระจากกัน และการทำสัญญาฉบับนี้ไม่ก่อให้เกิดความสัมพันธ์ระหว่างคู่สัญญาในการเป็นห้างหุ้นส่วน การร่วมลงทุน ตัวแทน แฟรนไชส์หรือตัวแทนการขาย Affiliate ไม่มีอำนาจที่จะทำหรือยอมรับข้อเสนอใดๆ หรือการเป็นตัวแทนในนามของ ทัวร์ริ่ง เซนเตอร์</p>
                  </div>

                  <!-- 5. การจ่ายเงินค่านายหน้าให้ Affiliate -->
                  <div>
                    <p><b><u>การจ่ายเงินค่านายหน้าให้ Affiliate</u></b></p>
                    <p>1.  ค่านายหน้า Affiliate จะได้รับจาก “ค่านายหน้า = ราคาทัวร์จากการจองสุทธิ x อัตราค่านายหน้า” (หากลูกค้ามีการยกเลิกหรือขอคืนเงิน ไม่ว่าจะกรณีใดๆ Affiliate จะไม่ได้รับค่านายหน้า ถือเป็นโมฆะ)</p>
                    <p>2.  การตรวจสอบยอดค่านายหน้าของ Affiliate จะดำเนินการแล้วเสร็จภายในวันที่ 1-5 พร้อมกับส่งอีเมล์แจ้งเตือนไปให้ Affiliate เพื่อให้ตรวจสอบและ ทัวร์ริ่ง เซนเตอร์ จะโอนเงินค่านายหน้าไปให้ Affiliate ไม่เกินวันที่ 10 ของทุกเดือน หากตรวจสอบแล้วยอดไม่ตรงกันให้ Affiliate รีบติดต่อกลับไปยัง ทัวร์ริ่ง เซนเตอร์ ต่อสายกับฝ่าย Affiliate โดยทันทีไม่เกินวันที่ 8 ของเดือน</p>
                    <p>3.  ขั้นต่ำในการจ่ายเงินค่านายหน้าให้ Affiliate จะต้องมียอดขั้นต่ำที่ 1,000 บาท หากมียอดไม่ถึง ยอดของเดือนนี้ทั้งหมดจะถูกนำไปรวมกับเดือนถัดไปหรือจนกว่ายอดขั้นต่ำจะครบหรือมากกว่า 1,000 บาท จึงจะถูกตัดยอดค่านายหน้าแล้ว ทัวร์ริ่ง เซนเตอร์ จะทำการนำจ่ายให้กับ Affiliate ในเดือนถัดไป</p>
                    <p>4.  Affiliate มีหน้าที่รับผิดชอบในการจ่ายภาษีต่างๆ ที่เกี่ยวข้องกับรายได้ของ Affiliate แต่เพียงผู้เดียว ถ้าการจ่ายเงินใดๆ จะต้องหักภาษี ณ ที่จ่าย ทัวร์ริ่ง เซนเตอร์ จะหักภาษี ณ ที่จ่าย จากการจ่ายเงินดังกล่าวและจ่ายจำนวนเงินที่เหลือสุทธิให้แก่ Affiliate พร้อมกับให้ใบกำกับภาษีหรือเอกสารใดๆ ที่เกี่ยวข้องกับภาษีหัก ณ ที่จ่าย</p>
                  </div>

                  <!-- 6. การรักษาความลับ -->
                  <div>
                    <p><b><u>การรักษาความลับ</u></b></p>
                    <p>1.  ทัวร์ริ่ง เซนเตอร์ ไม่มีสิทธิ์ในการเผยแพร่ข้อมูลของ Affiliate ทั้งข้อมูลที่เป็นเอกสาร กลยุทธ์ทางการตลาด แผนงาน ข้อมูลทางการเงิน ข้อมูลเชิงสถิติทั้งหมด วิธีปฏิบัติงาน การประมาณยอดขายและแผนธุรกิจทั้งของอดีต ปัจจุบันหรืออนาคต</p>
                    <p>2.  ทัวร์ริ่ง เซนเตอร์ และ Affiliate ไม่มีสิทธิ์ที่จะเปิดเผยข้อมูลความลับของแต่ละฝ่ายให้แก่บุคคลที่สาม เว้นแต่ได้รับความยินยอมเป็นลายลักษณ์อักษรเท่านั้น</p>
                    <p>3.  ข้อมูลความลับสามารถเปิดเผยได้เนื่องจากเหตุต่อไปนี้
                      ข้อมูลที่เป็นสาธารณะ นอกจากเกิดจากการละเมิดข้อสัญญานี้
                      สำหรับใช้ในการตุลาการหรือกระบวนการทางกฏหมายที่เกิดขึ้นจากสัญญาฉบับนี้
                      เมื่อได้รับการร้องขอจากหน่วยงานของรัฐที่มีอำนาจหรือข้อบังคับของอำนาจตามกฎหมาย
                      หน้าที่ในการไม่เปิดเผยข้อมูลจะบังคับใช้เป็นระยะเวลาไม่จำกัด แม้จะเกินระยะเวลาของสัญญาฉบับนี้
                    </p>
                  </div>

                  <div>
                    <p><b>หากมีข้อสงสัยใดๆ โปรดติดต่อทีม Affiliate ของ ทัวร์ริ่ง เซนเตอร์ ผ่านทางอีเมล <a href="mailto:affiliate@tourinchiangmai.com">affiliate@tourinchiangmai.com</a></b></p>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- -->

        <!-- Join -->
        <div class="join-btn-block">
          <a class="join-btn" (click)="joinNow()" *ngIf="requestAffiliate!=true">เข้าร่วมกับเรา</a>
          <!-- <a (click)="joinNow()" id="joinNow">เข้าร่วมกับเรา</a> -->
        </div>

      </div>
    </div>
  </section>
</section>