<!-- Check permission -->
<app-permission-member></app-permission-member>

<!-- Menu bar -->
<app-menu-bar-member></app-menu-bar-member>

<!-- Content -->
<section id="main-content" class="panel-block-1">
  <section class="wrapper">
    <!-- Graf -->
    <div class="container">
      <h3 class="dashboard-header">How to register affiliate</h3>
      <div style="margin:auto; margin-top:30px;width:80% !important;">
        
        <!-- Affiliate program -->
        <div class="content-block">
          <h4 class="content-header">Touring Center Affiliate Program?</h4>
          <p>ทัวร์ริ่ง เซนเตอร์ ได้จัดหาตัวเลือกที่นำมาซึ่งรายได้ของคุณ โดยเราจะมีลิงค์และแบนเนอร์ให้คุณตามโปรแกรมหลากหลายโปรแกรม คุณจะได้รับค่าคอมมิชชั่นจากการขาย (หลังการเดินทาง) สูงสุดถึง 10% จากการจองและจ่ายเงินผ่านช่องทางของคุณ</p>
        </div>

        <!-- Cookies -->
        <div class="content-block">
          <h4 class="content-header">การเก็บคุ้กกี้</h4>
          <p>หลังจากที่ลูกค้าคลิกสื่อโฆษณาของคุณ แต่ยังไม่ได้ทำการจองทัวร์ เรายังเก็บคุ้กกี้ให้คุณนานถึง 30 วัน เพื่อให้คุณได้รับผลประโยชน์สูงสุด</p>
        </div>

        <!-- Work in affiliate program -->
        <div class="content-block">
          <h4 class="content-header">การทำงานของ Affiliate program</h4>
          <ul>
            <li>- สื่อโฆษณาของทัวร์ริ่ง เซนเตอร์</li>
            <li>- คลิกสื่อโฆษณา</li>
            <li>- เข้ามายังเว็บไซต์ทัวร์ริ่ง เซนเตอร์</li>
            <li>- จองทัวร์ภายใน 30 วัน</li>
            <li>- ลูกค้าชำระเงิน</li>
            <li>- ลูกค้าออกเดินทาง</li>
            <li>- ท่านได้รับค่าคอมมิชชั่น</li>
          </ul>
        </div>

        <!-- How to join -->
        <div class="content-block">
          <h4 class="content-header">วิธีการเข้าร่วมกับเรา</h4>
          <ul>
            <li>- คลิกที่ลิงค์นี้ Join Touring Center Affiliate</li>
            <li>- อ่านเงื่อนไขการเข้าร่วมกับเราและยอมรับเงื่อนไข</li>
            <li>- กรอกข้อมูลประวัติส่วนตัวของท่าน</li>
            <li>- กรอกข้อมูลบัญชีธนาคารของท่าน</li>
            <li>- กรอกข้อมูลช่องทางในการโปรโมทของท่าน (เว็บไซต์, แฟนเพจ,...)</li>
            <li>- ตรวจสอบข้อมูล อ่านเงื่อนไขและยอมรับเงื่อนไขอีกครั้ง</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</section>